<div ng-include src="'/app/templates/elements/search-box-below-navigation.html'"></div>

<div ng-controller="StoriesController as storiesCtrl" class="container bg-lite-gray no-bg-on-mobile ">
  <div class="row">
    <div class="col-md-12">
      <div class="pt15 mt0 mb0 pb0 ">
        <h1 class="text-center mb0 mt0">STO<span class="fire">RIES</span></h1>
      </div>
    </div>
  </div>
  <div class="row fake-load-it">
    <div class="col-md-9 li-pl0 ">
      <div class="list-group mt20">
        <ol class=" list-unstyled listing">
          <li ng-repeat="story in storiesCtrl.stories" class=" single-post-element pr0">
            <div ng-include src="'/app/templates/stories/partials/single.html'"></div>
          </li>
        </ol>
            </div>
            <div class="mb10 clearfix">

              <ul uib-pagination items-per-page="storiesCtrl.numPerPage" max-size="storiesCtrl.maxSize" 
                  template-url="/app/templates/elements/pagination/basic.html" 
                  total-items="storiesCtrl.totalItems" ng-model="storiesCtrl.currentPage" 
                  boundary-link-numbers="true" rotate="false" ng-change="storiesCtrl.getPosts()"></ul>

            </div>
        </div>
        <div class="col-md-3 pt20">
            <div class="pb10 mb10">
                <form accept-charset="UTF-8" action="http://www.fabogo.com/stories" method="GET">
                    <div class="input-group">
                        <input type="text" placeholder="search for stories" name="search" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn-square btn btn-inverse btn-turquoise" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p15 pt10 mt5 pb10 bg-white ___border-radius-3 mb10">
                <div class="fw900 pb10 ">BROWSE VIA SERVICES</div>
                <div class="pb5 service-link-object " ng-class="{'hidden':$index>10}" ng-repeat="service in storiesCtrl.services"><a href="{{storiesCtrl.mzk_stories_link({service:service})}}" class=" hover-underline">{{ service.name }}</a></div>
                <a class=" pt5 pb5 dpib no-fake-load turquoise " href="javascript:void(0)" id="lnk-show-all-services"><b>View All</b></a>
                <div class="fw900 pt10 ">TRENDING STORIES</div>
                <div ng-repeat="story in storiesCtrl.suggested_posts" class="pt10 pb10 bb bg-white">
                    <div class="row">
                        <div class="col-md-12">
                            <div class=""><span class="pull-left mr10"><a href="http://www.fabogo.com/stories/10/5-tips-to-remember-when-applying-make-up?fabtrack=rhs"><img width="60" class="ba" src="http://s3.amazonaws.com/mazkaracdn/images/28413/thumbnail/Beauty%20zone%20org.jpg"></a></span>
                                <div class="fs90">
                                    <h5 class="ovf-hidden nowrap media-heading mb0 notransform bolder "><a class="result-title hover-underline fs80" href="http://www.fabogo.com/stories/10/5-tips-to-remember-when-applying-make-up?fabtrack=rhs" title="5 Tips to Remember when Applying Make-up"> 5 Tips to Remember w..
</a></h5><span class="search-item-address fs90"> › Surabhi Mokashi
</span>
                                    <br>
                                </div>
                                <div class="text-right"><span class=""><i class=" flaticon flaticon-eye110 medium-gray"></i><span class="medium-gray fs90 pl5"><b>609</b></span></span>
                                    &nbsp;
                                    <span class=""><i class="fa fa-thumbs-up op80 lite-blue"></i></span><span class="fs90 medium-gray pl5"><b>36</b></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

