<article style="padding:0px;" class=" clearfix show-only-mobile">
  <div class=" mb10 ">
    <div class="bg-white relative border-radius-3 ba clearfix">
      <div class="pull-left mr10 relative">
        <a class=" border-left-radius-3 link-single-venue " href="{{ storiesCtrl.mzk_single_story_link(story) }}" title="{{ story.title }}">
          <img width="145" class="border-left-radius-3 fw300" src="{{ story.cover_image_url }}" />
        </a>
      </div>
      <div class="">
        <div class="pos-relative">
          <h3 class=" fw700 mt10 dpb nowrap ovf-hidden mb0">
            <a class="link-single-venue dark-gray ovf-hidden hover-underline result-title" href="{{ storiesCtrl.mzk_single_story_link(story) }}" title="{{ story.title }}"> {{ story.title }}</a>
            <div class="search-item-rating dpib ">
              <div class="clear"></div>
            </div>
          </h3>
          <div class="mt2 mb2 pr10 single-listing-address">
            <span class="search-item-address">› {{ story.caption }}</span>
          </div>
          <div class="pull-left pr15">
            <a href="#">
              <div style="background-image: url({{story.author_image_url}});background-repeat: no-repeat;background-position: 50%;border-radius: 50%;width:40px; height:40px; padding-top:6px;">
              </div>
            </a>
          </div>
          <a href="#"> {{ story.author_name }}</a>
          <br><span class="medium-gray">Author</span>
          <div class="clear"></div>
          <div class="mt15 bottom5 absolute right5">
            <span ng-show="(story.views+story.likes)>0">
              <i class=" flaticon flaticon-eye110 op80 medium-gray"></i>
              <span class="medium-gray fs90" ng-show="story.views > 0">
                <b>{{ story.views }} Views</b>
              </span>
            </span> &nbsp;&nbsp;&nbsp;&nbsp;
            <span>
              <i class="fa fa-thumbs-up op80 medium-gray "></i>
            </span>
            <span class="fs90 medium-gray" ng-show="story.likes > 0">
              <b> {{ story.likes }} Likes</b>
            </span>
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</article>
<article style="padding:0px;border:1px solid #f0f0f0" class="mb25 clearfix ba hide-only-mobile">
  <div class="bg-white clearfix">
    <div class="pull-left pr10 relative">
      <a class=" " rel="nofollow" href="{{ storiesCtrl.mzk_single_story_link(story) }}" title="Top 5 Hair Removal Methods"><img width="270" class="br" src="{{ story.cover_image_url }}"></a>
    </div>
    <div class="">
      <div class="pos-relative p10 pt0 pr0">
        <div class="mb10 pt5 pl10">
          <div ng-show="(story.views+story.likes)>0" class="text-left ml0 m10 mb0 pt1 pr10 ">
            <div class="pull-right"><span class=""><i class=" flaticon flaticon-eye110 op80 medium-gray"></i><span ng-show="story.views > 0" class="medium-gray fs90 "><b>{{ story.views }}&nbsp;Views</b></span></span>
                &nbsp;
                <span class=""><i class="fa fa-thumbs-up op80 medium-gray "></i></span><span class="fs90 medium-gray" ng-show="story.likes > 0"><b> {{ story.likes }}&nbsp;Likes</b></span></div>
          </div>
        </div>
        <h3 class=" ovf-hidden mt10 mb0">
          <a class="hover-underline fw900 dpib dark-gray" href="{{ storiesCtrl.mzk_single_story_link(story) }}" title="{{ story.title }}"> {{ story.title }}
          </a>
        </h3>
        <div class="mt0 pt5 medium-gray-1 mb0"> {{ story.caption }} </div>
        <div class="mt5 mb10 fs90"><a href="{{ storiesCtrl.mzk_single_story_link(story) }}" title="{{ story.title }}">Read More <i class="fa fs125 fa-caret-right"></i></a></div>
        <div class="mt5 ">
          <div class="pull-left pr15">
              <a href="#">
                  <div style="background-image: url({{story.author_image_url}});background-repeat: no-repeat;background-position: 50%;border-radius: 50%;width:40px; height:40px; padding-top:6px;"></div>
              </a>
          </div>
          <a href="#"> {{ story.author_name }}</a>
          <span class="medium-gray">&nbsp;&nbsp;<i>posted 1 week ago</i></span>
          <br><span class="medium-gray">Author</span>
          <div class="clear"></div>
        </div>
        <div class=""></div>
      </div>
    </div>
  </div>
</article>
