body, html{
  font-family: 'Karla-Regular', Verdana, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #1C1C1C;
  background-color: #dddddd;
  font-size: 13px;
  overflow-x:hidden;
}

.bold-font{
    font-family: 'Karla-Bold', Verdana, sans-serif !important;

}

.lato{
  font-family: 'Lato', Verdana, sans-serif;
  
}

.serif{
  font-family: "Georgia", serif;
}

.ui-widget{
  font-family: 'Karla-Regular', sans-serif;
}

.ui-widget-content a{
  line-height: 1.7;
}

h1{
  text-transform: uppercase;
}

.uppercase{
  text-transform: uppercase;

}

h1 strong{
  font-weight: 900;
}

h2{
  text-transform: uppercase;
  margin:  0;
}

h3{
  font-size: 18px;
  font-weight: 900;
}

.blur{ 
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(5px);
}

sup {
  top: -0.5em;
  font-size: 65%;
  font-weight: bold;
}

h4{
  text-transform: uppercase;
}
h5{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p.intro{
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
}

a{ color: #848486;}

a:hover,
a:focus{
  text-decoration: none !important;
  color: #000;
}

.section-title hr{
  border-color: #ED00A6;
  border-width: 4px;
  width: 60px;
  float: left;
  clear: both;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.inline-block{display: inline-block !important;}     
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
/* Navigation */
#tf-menu {
  padding: 20px;
  transition: all 0.8s;
  opacity: 1;
  z-index: 1000;
  border:0px;
}

#tf-menu .top-main-logo-container{
  z-index: 10;
}

.z90{
  z-index: 90 !important;
}

#tf-menu.navbar-default {
  background-color: #FFFFFF; /*rgba(248, 248, 248, 0);*/
  border-color: rgba(231, 231, 231, 0);
}

#tf-menu a.navbar-brand {
  font-size: 20px;
  c--olor: #fff;
  font-weight: 500;
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/fab-logo.png);
  /*background-repeat: no-repeat;*/
  /*background-position: 0px 11px;letter-spacing: 0.0625em;*/
  /*padding-left:130px;*/
  float:none;
  background-position: 0 12px;
  background-repeat: no-repeat;
  float: none;
  font-weight: 500;
  letter-spacing: 0.0625em;
  padding-left: 180px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 72px;
    line-height: 30px;
    padding: 25px;
}

#footer #tf-menu a.navbar-brand {
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/fab-logo.png) !important;
}


.navbar-nav > li > a{
  line-height: normal;
  padding-top:20px;
}


.navbar-secondary {
    display: table;
    position: relative;
    width: 100%;
}
.navbar-secondary > li.parent {
    display: table-cell;
    float: none;
    text-align: center;
}

#tf-menu.navbar-default .navbar-nav.navbar-secondary > li.dropdown{
  padding:0px 0px 0px 0px;
}

#tf-menu.navbar-default .navbar-nav.navbar-secondary > li.dropdown > a {
  padding:12px 15px 11px 15px;
  font-size: 13px;
}


#tf-menu.navbar-default .navbar-nav > li > a.btn {
  padding: 5px 10px; margin: 8px 5px;
}

#bs-example-navbar-collapse-1.navbar-nav > li > a{

    padding-top: 10px !important;
  padding-bottom: 10px !important;

}

#tf-menu.navbar-default .navbar-nav > li > a.btn-danger:hover{
  background-color: #9e0806;
}

#tf-menu.navbar-default .navbar-nav > li > a.btn-success:hover{
  background-color: #449d44;
}

.on {
  __background-color: #434A54 !important;
  padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #83C23D !important;
  background-color: transparent;
  font-weight: 700;
}


a.main-menu-btn:link,
.navbar-default .navbar-nav > .open > a.main-menu-btn:link{
  color:#848388 ;
}

a.main-menu-btn:hover,
a.main-menu-btn:active,
.navbar-default .navbar-nav > .open > a.main-menu-btn:hover{
  __color: #FFF  !important;

}


.arrow_box {
  position: relative;
  background: #ffc800  ; /*#5cb85c;*/
}


/*
a.main-menu-btn:hover,
a.main-menu-btn:active,
.navbar-default .navbar-nav > .open > a.main-menu-btn:hover{
  background: #ffc800  !important; 
  color: #000  !important;

}


.arrow_box {
  position: relative;
  background: #ffc800;
}

.navbar-default .navbar-nav > .open > a.main-menu-btn:after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn:focus:after{
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #e7e7e7;
  border-width: 7px;
  margin-left: -7px;
}

.navbar-default .navbar-nav > .open > a.main-menu-btn:hover:after, 
a.main-menu-btn:hover:after,
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ffc800;
  border-width: 7px;
  margin-left: -7px;
}
*/


.navbar-toggle {
  border-radius: 0;
  }
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #00B398;   
  border-color: #00B398;
  }
 
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #FFF;
}

/* Home Style */
#tf-home{
  background: url(https://s3.amazonaws.com/mazkaracdn/assets/fab-header-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #cfcfcf; overflow: hidden;
  position:relative; height:410px; width:100%; __z-index:0;
}

#tf-home .overlay{
  height: 330px;
  background-attachment: fixed;
}

#tf-home p.lead{
  color: #e3e3e3;
}


div.banner-head{
  padding:6px 15px 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.glyph-search-padding{
  font-size:14px;
}

.banner-head h1, h2.banner-head{
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 2.1em;
  margin: 0px;
  text-align: center;
  width: auto;
  letter-spacing: -1px;
}

.banner-head h2.banner-head{
  letter-spacing: 1px;
  font-size: 18px;
}

.content{
  position: relative;
  padding: 11% 0 0;
}

.banner-head-content.content{
  padding: 5% 0 0;
}

.color{
  color: #ED00A6;
}

a.fa.fa-angle-down {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 200px;
  transition: all 0.5s;
}

a.fa.fa-angle-down:hover{
  background: #83C23D;
  color: #ffffff;
  border: 2px solid #83C23D;
}

.tf-section{
  padding: 20px 0px;
}
/* About Section */
#tf-about{
  padding: 80px 0;
}
ul.about-list{ margin: 30px 0 0 ;}
ul.about-list li{
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}
ul.about-list li span{ 
  margin-right: 10px;
}

/* Team Section */
#tf-team{
  background: url(../img/03.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

.dark-gradient{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.73) 17%,  rgba(0,0,0,0.8) 0%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
                                                    color-stop(100%,rgba(0,0,0,0.4)),
                                                    color-stop(62%,rgba(0,0,0,0.55)), 
                                                    color-stop(35%,rgba(0,0,0,0.66)), 
                                                    color-stop(17%,rgba(0,0,0,0.73)), 
                                                    color-stop(0%,rgba(0,0,0,0.8))

                                                    ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
                                            rgba(0,0,0,0.4) 100%,
                                            rgba(0,0,0,0.55) 62%,
                                            rgba(0,0,0,0.66) 35%,
                                            rgba(0,0,0,0.73) 17%,
                                            rgba(0,0,0,0.8) 0%
                                            ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,   
    rgba(0,0,0,0.4) 100%,
    rgba(0,0,0,0.55) 62%,
                                        
                                        rgba(0,0,0,0.66) 35%,
rgba(0,0,0,0.73) 17%,                                        
                          rgba(0,0,0,0.8) 0%              
                                        ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 100%,
                                        rgba(0,0,0,0.55) 62%,

                                        rgba(0,0,0,0.66) 35%,
                                        rgba(0,0,0,0.73) 17%,
                                        rgba(0,0,0,0.8) 0%
                                        ); /* IE10+ */
  background: linear-gradient(to bottom,  
    rgba(0,0,0,0.4) 100%,
                                          rgba(0,0,0,0.55) 62%,
                                          rgba(0,0,0,0.66) 35%,
                                          rgba(0,0,0,0.73) 17%,
                                          rgba(0,0,0,0.8) 0%
                                          
                                          ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  opacity: 0.4;
}

#tf-team .overlay{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: auto;
  background-attachment: fixed;
  padding: 80px 0;
}
.section-title.center{
  padding: 30px 0;
}
.section-title h2,
.section-title.center h2{
  font-weight: 400;
  text-transform: none;
  letter-spacing: -1px;
}
.section-title.center .line{
  border-top: 4px solid #ED00A6;
  height: 10px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.section-title.center hr {
  border-top: 4px solid rgba(252, 172, 69, 0.34);
  width: 40px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: 17%;
}
#team{ margin: 0 auto}
#team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
  width: 120px;
  height: 120px;
  border: 4px solid transparent;
  transition: all 0.5s;
}
#tf-team .item .thumbnail:hover>img.img-circle.team-img{
  border: 4px solid #83C23D;
}
#tf-team .thumbnail {
  background: transparent;
  border: 0;
}

#tf-team .thumbnail .caption {
  padding: 9px;
  color: #F2F2F2;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  filter: Alpha(Opacity=1);
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 20px;
  border-radius: 0;
  background: #FFFFFF;
  transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
  background: #83C23D;
}
.owl-theme .owl-controls .owl-page.active span{
  background: #83C23D;
}

/* Services Section */
#tf-services{
  padding: 80px 0;
}

.space{
  margin-top: 40px;
}

#tf-services i.fa {
  font-size: 40px;
  border: 4px solid #83C23D;
  width: 100px;
  height: 100px;
  padding: 27px 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: all 0.5s;
}

#tf-services i.fa.fa-mobile{
  font-size: 50px;
  padding: 20px 25px;
}

#tf-services .service:hover>i.fa{
  background: #83C23D;
  color: #ffffff;
}

/* Clients Section */
#tf-clients{
  background: url(../img/04.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

#tf-clients .overlay{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  padding: 80px 0;
  background-attachment: fixed;
}

#clients .item{
    padding: 0;
    margin: 35px;
    color: #FFF;
    text-align: center;
}
/* Gallery Section 
==============================*/
#tf-works{
  padding: 80px 0;
}
.categories{ 
  padding: 10px 0;
}
ul.cat li{
  display: inline-block;
}
#tf-works li.pull-right {
  margin-top: 10px;
}
ol.type li{
  display: inline-block;
  margin-left: 20px;
}
ol.type li:after{
  content: ' | ';
  margin-left: 20px;
}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #222222}
ol.type li a.active { font-weight: 700; }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.isotope {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.portfolio-item{
  margin-bottom: 30px;
}
.portfolio-item .hover-bg{
  height: 260px;
  overflow: hidden;
  position: relative;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 25% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
  opacity: 0;
  -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
  opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
  opacity: 0;
  -webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
  opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
  opacity: 1;
}
#tf-works i.fa {
  height: 30px;
  width: 30px;
  border: 1px solid #83C23D;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  color: #83C23D;
}
/* Testimonials Section */
#tf-testimonials{
  background: url(../img/05.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

#tf-testimonials .overlay{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  padding: 80px 0;
  background-attachment: fixed;
}
#testimonial {
  padding: 30px 0;
}
#testimonial .item{
    display: block;
    width: 100%;
    height: auto;
}

#testimonial .item p {
  font-weight: 400;
  margin: 30px 0;
  color: #d1d1d1;
}
/* Contact Section */
#tf-contact{
  padding: 80px 0;
}

label {
  float: left;
  font-size: 13px;
  font-weight: 400;
  _font-family: 'Open Sans', sans-serif;
}
#tf-contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#tf-contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
  float: right;
  background: #83C23D;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
  outline: thin dotted;
  outline: none;
  outline-offset: none;
}
/* Footer */
nav#footer{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/footer-bg.jpg);/* https://s3.amazonaws.com/mazkaracdn/assets/home-page-3.jpg);*/
  background-size: 100%;
  background-position: center;
  __background-repeat: no-repeat;
  color: #ffffff;
  padding: 18px 0 15px 0;
}
nav#footer a{color:#ffffff;}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
  display: inline-block;
  margin-right: 10px;
}
nav#footer p{
  font-size: 12px;
  margin-top: 10px;
}
#footer i.fa {
  height: 45px;
  width: 45px;
  border: 1px solid #ffffff;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s;
}

#footer i.fa:hover{
  background: #00DCC1;
  border-color: #00DCC1;
  color: #ffffff;
}

.image-grid-cover{

  height:200px;
}

.entry-cover.has-image:after, .listing-cover.has-image:after {
    background: linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
}
.entry-cover.has-image:after, .listing-cover.has-image:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.image-grid-cover:after {
    border-radius: 4px;
    overflow: hidden;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.listing-cover, .entry-cover, .homepage-cover.page-cover, .list-cover {
    background-color: #e6e9ec;
}
.image-grid-cover {
    padding: 10em 0;
}
.image-grid-cover {
    padding: 3em 0;
    position: relative;
}
.image-grid-cover {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}
.entry-cover, .listing-cover {
    background-position: center center;
    background-size: cover;
    padding: 5em 0 3em;
    position: relative;
}

.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.image-grid-cover .cover-wrapper {
    font-size: 28px;
}
.image-grid-cover .cover-wrapper {
    font-size: 24px;
}
.image-grid-cover .cover-wrapper {
    font-size: 20px;
    left: 5%;
    position: absolute !important;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
}
.image-grid-cover .cover-wrapper {
    display: block;
    font-size: 18px;
    text-align: center;
}
.entry-cover .cover-wrapper, .listing-cover .cover-wrapper {
    position: relative;
    z-index: 10;
}


.entry-cover.has-image, .entry-cover.has-image a, .listing-cover.has-image, .listing-cover.has-image a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.attachment-clickbox, .image-grid-clickbox, .job_listing-clickbox, .product-clickbox {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}



/**/
a:hover{
  text-decoration: underline;
}

ol.listing > li{
  display: list-item;
}

.listing h3{
  margin-top:10px;
}

.pagination{
  margin:0px;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  _background-color: #83C23D;
}

.pagination > li > a, .pagination > li > span{
  _color: #83C23D;  
}
.search-item-rating-num-votes
{
  font-size: 10px;
}
.no-box-shadow {
  box-shadow: none !important;
}
.no-text-shadow .rating-container .rating-stars::before,
.search-item-rating .rating-container .rating-stars::before{
  text-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}
.rating-container{
  color: #cccccc !important;
}

.rating-container .rating-stars{
  color:#ee4239 !important;
}

.mega-logo{
  background: url(https://s3.amazonaws.com/mazkaracdn/assets/logo-med.png);

  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
  display: inline-block;
}

/* hacks */

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
    background-color: #9E0806;
    border-color: #9E0806;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > a:hover, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
  color: #00b398 !important;
  background-color: transparent !important;
  z-index: 9999 !important;
}

.navbar-default .navbar-nav > .open > a.fire, 
.navbar-default .navbar-nav > a.fire:hover, 
.navbar-default .navbar-nav > .open > a.fire:hover, 
.navbar-default .navbar-nav > .open > a.fire:focus,
.navbar-default .navbar-nav > .open > a.main-menu.fire, 
.navbar-default .navbar-nav > a.main-menu.fire:hover, 
.navbar-default .navbar-nav > .open > a.main-menu.fire:hover, 
.navbar-default .navbar-nav > .open > a.main-menu.fire:focus{
  color: #ee4239 !important;
  background-color: #fff !important;
  z-index: 9999 !important;
  border-color: #ee4239 !important;
}



#bs-example-navbar-collapse-1 .navbar-nav > .open > a, 
#bs-example-navbar-collapse-1 .navbar-nav > .open > a:hover, 
#bs-example-navbar-collapse-1 .navbar-nav > .open > a:focus{
  background-color: #EFEFEF !important;
  z-index: 9999 !important;
}

.navbar-default .navbar-nav > li > a.main-menu-btn:hover{
  color: #00B398;
}
.navbar-default .navbar-nav > li > a.main-menu-btn:hover::after
.navbar-default .navbar-nav > li > a.main-menu-btn:focus::after,
.navbar-default .navbar-nav > .open > a.main-menu-btn::after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn:hover::after
.navbar-default .navbar-nav > .open > a.main-menu-btn:focus::after{
  z-index: 9999 !important;

}




.navbar-default .navbar-nav > li > a.main-menu-btn,
.navbar-default .navbar-nav > .open > a.main-menu-btn {
  position: relative;
  border: 1px solid #00B398;
  border-top:0px; border-left:0px;border-right:0px;border-bottom: 0px;
}

.navbar-default .navbar-nav > li.open {
  border:1px solid #DADADA;
  border-bottom: 0px;
  border-bottom:0px;
    border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  -webkit-border-radius: 5px 5px 0px 0px !important;

}
.navbar-default .navbar-nav > li.open.no-border,
.navbar-default .navbar-nav > li.open:last-child {
  border-color:#ffffff !important;
}

.navbar-default .navbar-nav > .open > a.main-menu-btn {
  background-color: #FAFAF9 !important;
  z-index: 99;
    border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  -webkit-border-radius: 5px 5px 0px 0px !important;

}




.navbar-default .navbar-nav > li > a.main-menu-btn.dropdown-toggle:hover:after, 
.navbar-default .navbar-nav > li > a.main-menu-btn.dropdown-toggle:hover:before,
.navbar-default .navbar-nav > .open > a.main-menu-btn.dropdown-toggle:after, 
.navbar-default .navbar-nav > .open > a.main-menu-btn.dropdown-toggle:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.navbar-default .navbar-nav > li > a.main-menu-btn.dropdown-toggle:hover:after,
.navbar-default .navbar-nav > .open > a.main-menu-btn.dropdown-toggle:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 3px;
  margin-left: -3px;
  margin-top: -7px;

}

.navbar-default .navbar-nav > li > a.main-menu-btn.dropdown-toggle:hover:before,
.navbar-default .navbar-nav > .open > a.main-menu-btn.dropdown-toggle:before {
  border-color: rgba(0, 179, 152, 0);
  border-top-color: #00B398;
  border-width: 4px;
  margin-left: -4px;
  margin-top: -7px;

}


.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 8px 13px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 20px;
}

.btn-circle{
  border-radius: 50%;
}

a.checkedin:hover i, 
a.checkedin:visited i,
a.checkedin i, 
a.checkedin:active i{
  color: #5cb85c;
  border-color: #5cb85c;
}

a.favourited:hover i, 
a.favourited:visited i,
a.favourited i, 
a.favourited:active i{
  color: #d9534f;
  border-color: #d43f3a;
}


a.favourited.fav-blue:hover i, 
a.favourited.fav-blue:visited i,
a.favourited.fav-blue i, 
a.favourited.fav-blue:active i{
  color: #81B4DF;
  border-color: #81B4DF;
}



a.favourited.fav-green:hover i, 
a.favourited.fav-green:visited i,
a.favourited.fav-green i, 
a.favourited.fav-green:active i{
  color: #81B4DF;
  border-color: #81B4DF;
}

a.favourited.turquoise:hover i, 
a.favourited.turquoise:visited i,
a.favourited.turquoise i, 
a.favourited.turquoise:active i{
  color: #00B398 !important; 
} 




a.favourite .hide-when-unfavorite{
  display:none;
}

a.favourited .hide-when-unfavorite,
a.favourite.favourited .hide-when-unfavorite{
  display:inline-block;
}

a.favourite .hide-when-favorite{
  display:inline-block;
}

a.favourited .hide-when-favorite,
a.favourite.favourited .hide-when-favorite{
  display:none;
}



.favourited .show-when-followed{
  display: block;  
}
.favourite .show-when-followed{
  display: none;  
}

.favourite .hide-when-followed{
  display: block;  
}
.favourited .hide-when-followed{
  display: none;  
}


a.user-follow.favourited i.fa-user-plus{
  color:#000000;
}

.single-activity-element .pagination{
  display:block;
}

.single-activity-element .pagination li{
  display:none;

}
.single-activity-element .pagination li:last-child{
  display:block;
}
.single-activity-element .pagination li:last-child a{
  padding:5px; border:1px solid #ccc;
  display:block;
  text-align: center;
  width:100%;
}
/* business view page */

h1.item-name, h1.item-heading, h2.item-name, h3.item-name{
  text-transform: none; 
}


.txttrans{
  text-transform: none;
}

h2.item-headers{
  font-weight: bolder;
  font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4.item-headers{
  font-weight: bolder;
  text-transform: none;
}

.item-phone{
  font-size: 16px;
  font-weight: bolder;
}

.item-map{
  height:300px;
  width:100%;
}
/* Helper CSS */

.btn-mazkara{
  background-color: #83C23D;
  border-color: #83C23D;
  color: #fff; 
}

h1.fw300,
.fw300{
  font-weight: 300 !important;
}

.fw500{
  font-weight: 500  !important;
}

.fw700{
  font-weight: 700  !important;
}

.fw900{
  font-weight: 900;
}

.fs175{
  font-size:175%;
}


.fs110{
  font-size:110%;
}

.fs125{
  font-size:130%;
}

.fs150{
  font-size:150%;
}

.fs500{
  font-size:500%;
}

.fs300{
  font-size: 300%;
}


.fs220{
  font-size: 220%;
}

.fs90{
  font-size:90%;
}

.fs75{
  font-size:75%;
}

.fs60{
  font-size:60%;
}


.fs200{
  font-size:200%;
}

.w40{
  width:40px;
}

.h40{
  height:40px;
}

.dpb{
  display:block;
}


.dpib{
  display:inline-block;
}

.table-row{
  display: table-row;
}

.dp-table{
  display: table;
}

.dp-flex{
  display: flex;
}

.table-cell{
  display: table-cell !important;
}

.vam{
  vertical-align: middle;
}

.tac{
  text-align: center;
}

.fn25{
  font-size:25px;
}

.fs90{
  font-size: 90%;
}

.fs85{
  font-size: 80%;
}

.fs78{
  font-size: 75%;
}

.bt{
  border-top:1px solid #f0f0f0;
}

.bbw{
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
}
.bb{
  border-bottom:1px solid #f0f0f0;
}
.bl{
  border-left:1px solid #f0f0f0;
}
.br{
  border-right:1px solid #f0f0f0;
}

.b0{
  border: 0px !important;
}

.bt0{
  border-top: 0px !important;
}

.force-center{
  margin-left:auto; margin-right:auto;
}
.b0 .list-group-item{
  border-right:0px;
  border-left:0px;
}

.list-group-item{
  background-color: transparent;
}

.b0 .list-group-item:last{
  border-bottom:0px;

}

.bt0{
  border-top: 0px;
}

.bb0{
  border-bottom: 0px;
}




.ba{
  border:1px solid #dadada;
}

.ba-lite{
  border:1px solid #f0f0f0;
}

.hauto{
  height: auto !important;
}

.bayellow{
  border:2px solid #FFD900;
}

.baturquoise{
  border:2px solid #00B398;
}

.wbt{
  border-top:1px solid #BF878C;
}

.bbb{
  border-bottom: 4px solid #f0f0f0;  
}

.bbb-turquoise{
  border-bottom: 3px solid #00B398;
}
.bbb-gray-on-hover:hover{
 border-bottom: 3px solid #CCCCCC;
}
.btd{
  border-top: 1px solid #dadada;  
}

.bad{
  border: 1px solid #dadada;  
}


.bbd{
  border-bottom: 1px solid #b1b1b1;  
}

.bbdb{
  border-bottom: 3px solid #b1b1b1;  
}
.bbdb.show-only-mobile{
  border:0px;
}
.li-pl0 .list-group-item{
padding-left:0px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.bg-liteblue{
  background-color:#f2f6f9;
}


.lnh{
  line-height: 2.5;
}

.mt0{
  margin-top: 0px !important;
}

.mb0{
  margin-bottom: 0px  !important;
}

.ml10{
  margin-left:10px;
}

.mr10{
  margin-right:10px;
}

.mb10{
  margin-bottom: 10px;
}

.w100pc{
  width:100%;
}

.h24{height:24px;}

.h32{height:32px;}

.w20{width:20px;}


.w45{width:45px;}
.h45{height:45px;}


.w52{width:52px;}
.h52{height:52px;}

.h75{height:75px;}
.h80{height:80px;}
.w80{width:80px;}
.h85{height:85px;}


.w50{width:50px;}
.h50{height:50px;}
.w100{width:100px;}
.w175{width:175px;}
.w95{width:95px;}
.h100{height:100px;}
.h175{height:175px;}

.max-width-480{
  width:480px;
}
.w150{width:150px;}
.h150{height:150px;}

.w125{width:125px;}
.h125{height:125px;}

.w250{width:250px;}
.h250{height:250px;}

.w200{width:200px;}
.h200{height:200px;}

.w144{width:144px;}
.h144{height:144px;}

.venue-thumbnail{
  height:105px;
  width:105px;
}

.italic{
  font-style: italic;
}

.tpos0{
  top:0px;
}

.tpos10{
  top:10px;
}

.bpos10{
  bottom:10px;
}

.lpos10{
  left:10px;
}

.rpos10{
  right:10px;
}

.zindex99{
  z-index: 99 !important;  
}

.zindex999{
  z-index: 999 !important;  
}

.notransform{
  text-transform: none;
}

.bolder{
  font-weight: bolder;
}



.vertical-middle{
  vertical-align: middle !important;
}



.no-radius{
  border-radius: 0px; !important
}

.rating-xs{
  font-size:1.4em;
}

.rating-xm{
  font-size:1.6em;
}


.star-rating{
  cursor: pointer;
}

.rating-disabled{
  cursor: default;
}
.star-rating .caption,
.star-rating-rtl .caption{
  width:75px !important;
  text-align: center !important;
}

.star-rating .caption .label, .star-rating-rtl .caption .label{
  background-color: white !important;
  color: #000000 !important;
  font-size: 110% !important;
  font-weight: 500;
  opacity: 0.6;
}

.star-rating.rating-lg .caption .label, 
.star-rating-rtl .caption .label{
  background-color: white !important;
  color: #000000 !important;
  font-size: 70% !important;
  font-weight: 500;
}

.star-rating .clear-rating, 
.star-rating-rtl .clear-rating{
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    float: right;
    font-size: 60%;
    padding: 7px 0 7px 7px;
    vertical-align: middle;
}

.star-rating .clear-rating:hover{
  color:#fff;
} 


.p1{
  padding: 1px;
}


.pr1{
  padding-right: 1px;
}

.pt1{
  padding-top: 1px;
}

.pb1{
  padding-bottom: 1px;
}

.pl1{
  padding-left: 1px;
}

.p5{
  padding: 5px;
}

.ml30{
  margin-left: 30px;
}

.p15{
  padding: 15px;
}

.pt15{
  padding-top:15px;
}

.pb15{
  padding-bottom:15px;
}


.pt10{
  padding-top:10px;
}

.pb10{
  padding-bottom:10px;
}

.p10{
  padding:10px;
}

.pt20{
  padding-top:20px;
}

.pb20{
  padding-bottom:20px;
}


.p3{
  padding: 3px;
}

.p30{
  padding: 30px;
}

.pt12{
  padding-top: 12px !important;
}

.pt10{
  padding-top: 10px;
}
.pb10{
  padding-bottom: 10px;
}

.ml-18{
  margin-left: -18px;
}

.ml-15{
  margin-left: -15px;
}

.pl10{
  padding-left: 10px;
}
.pr10{
  padding-right: 10px;
}

.pr0{
  padding-right: 0px !important;
}

.pt0{
  padding-top: 0px !important;
}

.pt5{
  padding-top: 5px;
}

.pb5{
  padding-bottom: 5px;
}

.pt6{
  padding-top: 6px;
}

.pb6{
  padding-bottom: 6px;
}

.pb7{
  padding-bottom: 7px;
}

.pl5{
  padding-left: 5px !important; 
}
.pr5{
  padding-right: 5px !important;
}

.p0{
  padding:0px;
}

.pb0{
  padding-bottom: 0px;
}

.pl15{
  padding-left: 15px;
}
.pr15{
  padding-right: 15px;
}


.pt4{
  padding-top: 4px;
}
.pb4{
  padding-bottom: 4px;
}
.pl4{
  padding-left: 4px;
}
.pr4{
  padding-right: 4px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.ml0{
  margin-left: 0px;
}


h1.item-heading, h2.item-name{
  font-size: 24px; font-weight: bold; 
}
h1.item-heading, 
h1.item-name{
  font-weight: bold;
}
ul.padded5 li{
  padding-top:5px;
  padding-bottom:5px;
}
ul.padded10 li{
  padding-top:10px;
  padding-bottom:10px;
}

ul.padded12 li{
  padding-top:12px;
  padding-bottom:12px;
}



ul.padded8 li{
  padding-top:8px;
  padding-bottom:8px;
}

.mt20{
  margin-top: 20px;
}

.mt75{
  margin-top: 75px;
}

.mt60{
  margin-top: 60px;
}

.mt50{
  margin-top: 50px;
}

.mt30{
  margin-top: 30px;
}

.mt140{
  margin-top: 140px;
}


.mt120{
  margin-top: 120px;
}

.mt220{
  margin-top: 220px;
}

.mt190{
  margin-top:190px;
}

.top-20{
  top:20px;
}

.top-35{
  top:35px;
}

.mt15{
  margin-top: 15px;
}

.p25{
  padding: 25px !important;
}

.mt25{
  margin-top: 25px !important;
}

.mb25{
  margin-bottom: 25px !important;
}

.mb65{
  margin-bottom: 65px !important;
}

.mt8{
  margin-top: 8px;
}

.mt10{
  margin-top: 10px;
}

.mt5{
  margin-top: 5px;
}
.mb5{
  margin-bottom: 5px;
}
.ml5{
  margin-left: 5px;
}


.mr5{
  margin-right: 5px !important;
}

.mr3{
  margin-right: 3px !important;
}

.text-white{
  color:#fff !important;
}

.text-shadow{
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1) !important;
}

.drop-text-shadow{
  text-shadow:0 2px 4px rgba(0, 0, 0, 1) !important;
}

.mt2{
  margin-top: 2px;
}

.bg-black{
  background-color: #000000 !important;
}
.mb2{
  margin-bottom: 2px;
}

.ml2{
  margin-left: 2px;
}

.mr2{
  margin-right: 2px;
}

.mb15{
  margin-bottom: 15px;
}

.mr10{
  margin-right: 10px;
}

.mr15{
  margin-right: 15px;
}

.mr8{
  margin-right: 8px;
}

.mb12{
  margin-bottom: 12px;
}

.mr0{
  margin-right: 0px;
}

.pl0{
  padding-left:0px !important;
}

.pointer-cursor{
  cursor: pointer;
}

#top-main-logo-container .dropdown-menu{
  z-index: 1004 !important;
}

.op50{
  opacity: 0.5;
}
.op80{
  opacity: 0.8;
}

.op90{
  opacity: 0.9;
}

.op95{
  opacity: 0.95;
}

.no-border-size{
  border-width: 0px !important;
}
.mt-20{
  margin-top:-20px !important;
}

.mt-30{
  margin-top:-30px !important;
}

.opaque-on-hover:focus .op50,
.opaque-on-hover:focus .op95,
.opaque-on-hover:focus .op85,
.opaque-on-hover:focus .op90,
.opaque-on-hover:hover .op50,
.opaque-on-hover:hover .op95,
.opaque-on-hover:hover .op85,
.opaque-on-hover:hover .op90{
  opacity: 1 !important;
}

.op85-on-hover:focus,
.op85-on-hover:hover{
  opacity: 0.6 !important;
}



.bg-lite-gray-on-hover:hover{
  background-color: #DDDDDD;
}



.search-item-name a{
  color:#00666E;
}

a.burgundy-item{
  color:rgb(98,58,62);
}

.burgundy{
  color:rgb(98,58,62) !important;
}

.hover-gray:hover, tr.hover-gray:hover td{
  background-color: #EFEFEF !important;
}

a.green-item{
  color:#00DDC1; /*#5cb85c; /*#6EBA4C;*/
}


.table.border-gray > thead > tr > th, 
.table.border-gray > tbody > tr > th, 
.table.border-gray > tfoot > tr > th, 
.table.border-gray > thead > tr > td, 
.table.border-gray > tbody > tr > td, 
.table.border-gray > tfoot > tr > td{
  border-top-color: #FAFAF9 !important;
}

.no-border-radius{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.border-radius-3{
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

.border-radius-2{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

.border-radius-1{
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}


.border-radius-5{
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.border-radius-6{
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}

.border-radius-10{
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

.border-top-radius-3{
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
}

.border-bottom-radius-3{
  border-radius:  0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
}

.border-left-radius-3{
  border-radius: 3px 0px 0px 3px !important;
  -moz-border-radius: 3px 0px 0px 3px !important;
  -webkit-border-radius: 3px 0px 0px 3px !important;
}

.border-right-radius-3{
  border-radius: 0px 3px 3px 0px !important;
  -moz-border-radius: 0px 3px 3px 0px !important;
  -webkit-border-radius: 0px 3px 3px 0px !important;
}


.border-left-radius-5{
  border-radius: 5px 0px 0px 5px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  -webkit-border-radius: 5px 0px 0px 5px !important;
}


.border-left-radius-50pc{
  border-radius: 25px 0px 0px 25px !important;
  -moz-border-radius: 25px 0px 0px 25px !important;
  -webkit-border-radius: 25px 0px 0px 25px !important;
}



.border-no-left-bottom{
  border-radius: 5px 0px 0px 0px !important;
  -moz-border-radius: 5px 0px 0px 0px !important;
  -webkit-border-radius: 5px 0px 0px 0px !important;

}


.border-right-radius-5{
  border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  -webkit-border-radius: 0px 5px 5px 0px !important;
}

.border-right-radius-50pc{
  border-radius: 0px 25px 25px 0px !important;
  -moz-border-radius: 0px 25px 25px 0px !important;
  -webkit-border-radius: 0px 25px 25px 0px !important;
}



.border-top-radius-5{
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border:1px solid #ccc;
}



.border-bottom-radius-5{
  border-radius:  0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

.border-bottom-radius-6{
  border-radius:  0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
}

.border-radius-15{
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
}

.border-radius-25{
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
}

.small-text{
  font-size:12px;
}

.bg-white, span.btn.btn-default:hover{background-color: white;} 


.ui-menu .ui-menu-item{  border-bottom:1px solid #efefef; padding:6px 9px;font-weight:500; font-size:100%;}
.ui-menu .ui-menu-item:hover{background-color:#EFEFEF !important;}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{
  color:#000000 !important;
  background-image: none !important;
  line-height: 1.7;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  color:#000000 !important;
  background-image: none !important;  
  border:1px solid #efefef !important;
  line-height: 1.7;
}

.ui-menu .ui-menu-item{
  __border-bottom: 0px;
}

.ui-menu .ui-menu-item:last-child,
.ui-menu .ui-state-focus.ui-menu-item:last-child{ 
  border-bottom:0px !important;
  border-radius:  0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

.ui-menu .ui-state-focus{
  margin:0px !important;
} 
.ui-menu .ui-state-active{margin:0px;}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  font-weight: normal;
  __background-color: #AEAEAE !important;
}

.ui-widget-content{
  background-image: none;
  background-color: #FFF;
  border:0px;
  border-radius:  0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;

}



.ui-autocomplete-loading { 
  /* background:url('/assets/indicator.gif') no-repeat right center;*/
  background-color: #ffffff; 
 }
 
.highlight-ui{
  color: #00B398; 
}

#top-navbar-search-form{
  width:50%; padding-right:0px;
}

#top-navbar-search-form .form-control{
  font-size: 11px;
}

#top-navbar-search-form #search-selector{
  width:70%; float:left;
}

#top-navbar-search-form #location-selector{
  width:30%; float:left;
}

#top-navbar-search-form #search-bar-button{
  
}
  


.navbar-center{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

/* rating */
/*
.br-theme-bars-pill .br-widget {
  white-space: nowrap;
}
.br-theme-bars-pill .br-widget a {
  padding: 7px 15px;
  background-color: #bef5e8;
  color: #50e3c2;
  text-decoration: none;
  font-size: 13px;
  line-height: 3;
  text-align: center;
  font-weight: 400;
}
.br-theme-bars-pill .br-widget a:first-child {
  -webkit-border-top-left-radius: 999px;
  -webkit-border-bottom-left-radius: 999px;
  -moz-border-radius-topleft: 999px;
  -moz-border-radius-bottomleft: 999px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}
.br-theme-bars-pill .br-widget a:last-child {
  -webkit-border-top-right-radius: 999px;
  -webkit-border-bottom-right-radius: 999px;
  -moz-border-radius-topright: 999px;
  -moz-border-radius-bottomright: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.br-theme-bars-pill .br-widget a.br-active,
.br-theme-bars-pill .br-widget a.br-selected {
  background-color: #50e3c2;
  color: white;
}
.br-theme-bars-pill .br-readonly a.br-active,
.br-theme-bars-pill .br-readonly a.br-selected {
  background-color: #7cead1;
}
@media print {
  .br-theme-bars-pill .br-widget a {
    border: 1px solid #b3b3b3;
    border-left: none;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .br-theme-bars-pill .br-widget a.br-active,
  .br-theme-bars-pill .br-widget a.br-selected {
    border: 1px solid black;
    border-left: none;
    background: white;
    color: black;
  }
  .br-theme-bars-pill .br-widget a:first-child {
    border-left: 1px solid black;
  }
}


*/



/* old rating below */

.br-widget {
}

.btn .br-widget{
}

.br-widget a {
    display: block;
    width: 30px;
    height: 20px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 0px;
    margin-right: 1px;
    text-align: center;
    border-radius: 0px;
}


.btns-ghosted .br-widget a:first-child,
.btns-ghosted  .br-widget a:last-of-type  {
    display: block;
    width: 30px;
    height: 20px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 0px;
    margin-right: 1px;
    text-align: center;
}

.btns-ghosted  .br-widget a:first-of-type{
  border-radius: 5px 0px 0px 5px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  -webkit-border-radius: 5px 0px 0px 5px !important;
}

.btns-ghosted  .br-widget a:last-of-type  {
  border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  -webkit-border-radius: 0px 5px 5px 0px !important;
}




.rating-a .br-widget a {
    display: block;
    width: 45px;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 0px;
    margin-right: 1px;
    text-align: center;
    border-radius: 0px;
}


.rating-a .br-widget a:first-child,
.rating-a .br-widget a:last-of-type  {
    display: block;
    width: 45px;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin-left: 0px;
    margin-right: 1px;
    text-align: center;
}

.rating-a .br-widget a:first-of-type{
  border-radius: 5px 0px 0px 5px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  -webkit-border-radius: 5px 0px 0px 5px !important;
}

.rating-a .br-widget a:last-of-type  {
  border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  -webkit-border-radius: 0px 5px 5px 0px !important;
}


.br-widget a.br-active,
.br-widget a.br-selected {
  background-color: #ee4239; /*#59a6d6;*/
}

.br-widget a.br-active:nth-child(1),
.br-widget a.br-selected:nth-child(1){
  background-color: #ffc700; 
  _background-color: #FF1616;
}

.br-widget a.br-active:nth-child(2),
.br-widget a.br-selected:nth-child(2){
  background-color: #fcb315; 
  _background-color: #FFA100;
}

.br-widget a.br-active:nth-child(3),
.br-widget a.br-selected:nth-child(3){
  background-color: #ff7a00; 
  _background-color: #FFDD00;
}

.br-widget a.br-active:nth-child(4),
.br-widget a.br-selected:nth-child(4){
  background-color: #ff2900; 
  _background-color: #F9F44D;
}

.br-widget a.br-active:nth-child(5),
.br-widget a.br-selected:nth-child(5){
  background-color: #c9060d; 
  _background-color: #D6FF66;
}

.br-widget a.br-active:nth-child(6),
.br-widget a.br-selected:nth-child(6){
  background-color: #ee4239; 
  _background-color: #A2F73B;
}

.br-widget a.br-active:nth-child(7),
.br-widget a.br-selected:nth-child(7){
  background-color: #ee4239; 
  _background-color: #ABED04;
}

.br-widget a.br-active:nth-child(8),
.br-widget a.br-selected:nth-child(8){
  background-color: #ee4239; 
  _background-color: #55C924;
}

.br-widget a.br-active:nth-child(9),
.br-widget a.br-selected:nth-child(9){
  background-color: #ee4239; 
  _background-color:#3FA500;
}

.br-widget a.br-active:nth-child(10),
.br-widget a.br-selected:nth-child(10){

}

.btn-default .br-current-rating{
  color: #fff !important;
}

.br-widget .br-current-rating {
  float: left;
  padding: 0 0 0 0px;
  color: #646464;
  font-weight: 900;
  min-width: 40px;
}




.rating-1{
  background-color: #ffc700; 
}

.rating-2{
  background-color: #fcb315; 
}

.rating-3{
  background-color: #ff7a00; 
}

.rating-4{
  background-color: #ff2900; 
}

.rating-5{
  background-color: #c9060d; 
}



.rating-a .br-widget .br-current-rating {
  font-size:150%;
}

.filter-column a{
  color:#777777;
}
.dark-gray{
  color:#444444;
}


.medium-gray{
  color:#999999;
}

.medium-gray-1{
  color:#666666;
}

.gray, small.gray{
  color:#b1b1b1;
}

.gray a{
  color:#9a9a9a;
}

.dark-gray a:link,
.dark-gray a:hover,
.dark-gray a:active,
.dark-gray a:visited
{
  color: #1C1C1C;/*#5a5a5a;*/
  text-decoration: none;
}
.dark-gray a:hover{
  color:#999999;
  text-decoration: none;
}







.modal-dialog{
  width:960px;
}

.dumatar{
  font-size:18px;
  font-weight: 300;
  color: #FFF;
  vertical-align: middle;

  text-align: center;
  display: inline-block;
}
.breadcrumbs{
  margin-bottom: 10px;
}
.breadcrumb > li + li::before{
  content: " ";
}

/*Grid cards for deals*/
.grid-thumbnail
{
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.lite-grey{
  color:#CCC;
}

.white{
  color:#fff;
}

.green{
  color: #08DB91 !important;/*#3c763d/*#87C63D;/* #0D9B0D;*/
}

.blue{
  color: #81B4DF !important;
}

.red{
  color: #d9534f !important;
}


.fuscia{
  color: #00D5B7 !important;
}

.item .lead{
  font-size:16px;
  color:#000;  
  font-weight: 500;
}

.item .minor-lead{
  font-size:14px;
}

.slashed, .item .slashed{
  text-decoration: line-through;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

.list-group-item-heading{
  text-transform: none;
  font-size:14px; font-weight: 500;
}

.float-none{
  float:none !important;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
    font-weight: 300;
}

.form-control.selectize-control{
  height: inherit;
}





.shape{    
    border-style: solid; border-width: 0 60px 60px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg); 
}
.shape-text{
    color:#fff; font-size:10px; position:relative; right:-20px; top:-3px; text-transform: uppercase;; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(46deg); /* Safari and Chrome */
  transform:rotate(46deg);
}
.offer{
  background:#fff; border:1px solid #ddd; 
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  margin: 15px 0; overflow:hidden;
  min-height: 170px; max-height: 170px;
}
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}



.offer .top-half{
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  background-color:#F2F6F9;
}
.offer .bottom-half{
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  background-color:#FFFFFF;
}

.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  __border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  __border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { __border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  __border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.offer-content{
  padding:0 20px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}

/**/





/* native ads */

.native-ad-v02
{
  width:100%;
  height:142px;
  position:relative;
  display:block;
}

.native-ad-v02 .ad-title{
  width:100%;
  display:block;
  padding:5px;  
  background-color: rgba(51, 51, 51, 0.8);

  color: #FFF;
  font-size: 13px;
}

.native-ad-v02 .ad-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.ad-caption{
  width:100%;background-color: #F4F4F4;
  display:block;
  padding:5px;

  height: 25px;
  color: #000;font-size: 11px;
}


.native-ad-v02-mobile{
  
  width:100%;
  height:242px;
  position:relative;
}


.native-ad-v02-mobile .ad-title{
  width:100%;
  display:block;
  padding:5px;  
  background-color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
  color: #FFF;
  font-size: 13px;
}

.native-ad-v02-mobile .ad-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.ad-caption{
  width:100%;background-color: #F4F4F4;
  display:block;
  padding:5px;

  height: 25px;
  color: #000;font-size: 11px;
}




.native-ad-v02 .post-corner{
  padding-right: 5px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 2;
}
.native-ad-v02-mobile .post-corner{
  padding-right: 10px;
  position: absolute;
  text-align: right;
  top: 10px;
  right:10px;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}





/* native ads */

.native-collectable
{
  width:100%;
  height:142px;
  position:relative;
  display:block;
}

.native-collectable .native-collectable-title{
  width:100%;
  display:block;
  padding:2px 3px;  
  background-color: rgba(51, 51, 51, 0.8);

  color: #FFF;
  font-size: 11px;
}

.native-collectable .native-collectable-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.native-collectable-caption{
  width:100%;background-color: #F4F4F4;
  display:block;
  padding:5px;

  height: 25px;
  color: #000;font-size: 11px;
}


.native-collectable-mobile{
  
  width:100%;
  height:242px;
  position:relative;
}


.native-collectable-mobile .native-collectable-title{
  width:100%;
  display:block;
  padding:3px;  
  background-color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
  color: #FFF;
  font-size: 11px;
}

.native-collectable-mobile .native-collectable-content-holder{
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.native-collectable-caption{
  width:100%;background-color: #ffffff;
  display:block;
  padding:5px;

  height: 25px;
  color: #888;font-size: 11px;
}




.native-collectable .post-corner{
  padding-right: 5px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 2;
}
.native-collectable-mobile .post-corner{
  padding-right: 10px;
  position: absolute;
  text-align: right;
  top: 10px;
  right:10px;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}





.native-ad,
.collection
{
    background-color: #FFF;
    overflow: hidden;
}

.collection:hover
{
    background-color: #FFF;
    overflow: hidden;
}
.collection:hover
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.collection:hover:before, .collection:hover:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 

.collection:hover:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.native-ad _img,
.collection _img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.collection .content,
.native-ad .content
{
  border: 1px solid #CCC;
  border-top: 0px;
  margin-bottom:10px;
  padding: 0px;
}

.collection .author,
.native-ad .author
{
  font-size: 11px;
  color: #737373;
  padding: 5px;
}

.collection .header,
.native-ad .header
{
  font-size: 12px;
  color: #1C1C1C; /*#5a5a5a;*/
  padding: 2px  8px 5px 8px;
}

.h300{
  height:300px;
}

.sq-card{
  background-position: center center;
  background-size: cover;
  position: relative;    
}
.collection .white-gradient-ltr,
.native-ad .white-gradient-ltr{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(85%, rgba(246,246,246,0.15)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,0.15) 85%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.collection .post-img-content,
.native-ad .post-img-content
{
  height: 142px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}

.collection .post-img-content img,
.native-ad .post-img-content img
{
  position: absolute;
}

.collection .post-title,
.native-ad .post-title
{
  bottom: 0;
  display: block;
  position: absolute;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}

.native-collectable .color-white,
.native-ad .color-white{
  color:#FFFFFF;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.native-collectable .color-black,
.native-ad .color-black{
  color: #000000 !important;
  text-shadow: 0px 0px 9px rgba(255, 255, 255, 1);
}

.post-corner,
.native-ad .post-corner{
  padding-right: 5px;
  position: absolute;
  text-align: right;
  top: 0;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}

.collection .post-title span{
  background-color: rgba(51, 51, 51, 0.58);
  display: block;
  color: #FFF;
  padding: 3px 5px;
  margin-top: 5px;
}

.native-ad .post-title span{
  background-color: rgba(51, 51, 51, 0.58);
  display: block;
  color: #FFF;
  padding: 3px 5px;
  font-size: 11px;
}

a:hover .collection,
a:hover .native-ad{
  text-decoration: none;
}

.html-fix ul, 
.html-fix ol{
  margin-left:15px;
}

.mtm15{
  margin-top:-15px;
}


.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
  background-color: #00B398;
  border-color: #00B398;
}

.pagination > li > a, 
.pagination > li > a:hover, 
.pagination > li > span{
  color: #00B398;
}

.pagination > li > a, .pagination > li > span{
  border:0px;
}

.breadcrumbs, .breadcrumb{
  background-color: transparent;
  padding: 0px;
  padding-top:5px;
  font-size:10px;   
  ___text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.breadcrumbs a{
  background-color: transparent;
  padding-right: 10px;   
}

.no-text-shadow,
.no-text-shadow .breadcrumbs, 
.no-text-shadow .breadcrumb{
  text-shadow: none;
}

.overlap-transparent{
  background-color: rgba(0, 0, 0, 0.2);

/*background: rgba(0,0,0,0.24);
background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(98,58,0,0,0,0.69) 88%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.24)), color-stop(88%, rgba(0,0,0,0.69)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: -o-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0.69) 88%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

/*background: rgba(98,58,62,0.24);
background: -moz-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,58,62,0.24)), color-stop(88%, rgba(98,58,62,0.69)), color-stop(100%, rgba(98,58,62,1)));
background: -webkit-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -o-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: -ms-linear-gradient(top, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
background: linear-gradient(to bottom, rgba(98,58,62,0.24) 0%, rgba(98,58,62,0.69) 88%, rgba(98,58,62,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#623a3e', endColorstr='#623a3e', GradientType=0 );
*/
}

.overlap-transparent-4x{
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease;
}


.overlap-transparent-4x:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

.overlap-transparent-3x{
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease;
}


.overlap-transparent-3x:hover{
  background-color: rgba(0, 0, 0, 0.5);
}


.bg-burgundy{
  background-color: rgb(98,58,62);
}

.btns-ghosted .btn-default{
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.btns-ghosted .btn-default:hover{
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.force-black,
.force-black .breadcrumb > .active,
.force-black a,
.force-black a:active,
.force-black a:link,
.force-black a:hover,
.force-black a:visited{
  color:#000000 !important;
}



.force-white,
.force-white .breadcrumb > .active,
.force-white a,
.force-white a:active,
.force-white a:link,
.force-white a:hover,
.force-white a:visited{
  color:#ffffff !important;
}

.force-white a:hover{
  text-decoration: underline;
}
.small-force-white small{
  color: #fff !important;
}

.fa.selected, .flaticon.selected{
  color: #00B398; /*#659900; */
}


/*Buttons*/

.btn-lite-blue { 
  color: #ffffff; 
  background-color: #81B4DF; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue:hover, 
.btn-lite-blue:focus, 
.btn-lite-blue:active, 
.btn-lite-blue.active, 
.open .dropdown-toggle.btn-lite-blue { 
  color: #ffffff; 
  background-color: #5C9FD6; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue:active, 
.btn-lite-blue.active, 
.open .dropdown-toggle.btn-lite-blue { 
  background-image: none; 
} 
 
.btn-lite-blue.disabled, 
.btn-lite-blue[disabled], 
fieldset[disabled] .btn-lite-blue, 
.btn-lite-blue.disabled:hover, 
.btn-lite-blue[disabled]:hover, 
fieldset[disabled] .btn-lite-blue:hover, 
.btn-lite-blue.disabled:focus, 
.btn-lite-blue[disabled]:focus, 
fieldset[disabled] .btn-lite-blue:focus, 
.btn-lite-blue.disabled:active, 
.btn-lite-blue[disabled]:active, 
fieldset[disabled] .btn-lite-blue:active, 
.btn-lite-blue.disabled.active, 
.btn-lite-blue[disabled].active, 
fieldset[disabled] .btn-lite-blue.active { 
  background-color: #81B4DF; 
  border-color: #81B4DF; 
} 
 
.btn-lite-blue .badge { 
  color: #81B4DF; 
  background-color: #ffffff; 
}


.btn-yellow { 
  color: rgb(98,58,62); 
  background-color: #FFC800; 
  border-color: #FFD900; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.navbar-default .navbar-nav > li > a.btn-yellow:hover,
.open .dropdown-toggle.btn-yellow { 
  color: #000; 
  background-color: #FFD900; 
  border-color: #FFD900; 
}
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  background-image: none; 
} 
 
.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
  background-color: #FFC900; 
  border-color: #FFD900; 
} 
 
.btn-yellow .badge { 
  color: #FFC800; 
  background-color: #FFFFFF; 
}



.btn-green-line { 
  color: #00B398; 
  background-color: transparent; 
  border-color: #00B398; 
  border-width: 2px;
  font-weight: 600;
  padding: 4px 8px;
} 

.btn-green-line.btn-sm{
  font-weight: 600;
  padding: 2px 6px;
}
 
.btn-green-line:hover, 
.btn-green-line:focus, 
.btn-green-line:active, 
.btn-green-line.active, 
.open .dropdown-toggle.btn-green-line { 
  color: #00B399; 
  background-color: transparent; 
  border-color:#00B399; 
} 
 
.btn-green-line:active, 
.btn-green-line.active, 
.open .dropdown-toggle.btn-green-line { 
  background-image: none; 
} 
 
.btn-green-line.disabled, 
.btn-green-line[disabled], 
fieldset[disabled] .btn-green-line, 
.btn-green-line.disabled:hover, 
.btn-green-line[disabled]:hover, 
fieldset[disabled] .btn-green-line:hover, 
.btn-green-line.disabled:focus, 
.btn-green-line[disabled]:focus, 
fieldset[disabled] .btn-green-line:focus, 
.btn-green-line.disabled:active, 
.btn-green-line[disabled]:active, 
fieldset[disabled] .btn-green-line:active, 
.btn-green-line.disabled.active, 
.btn-green-line[disabled].active, 
fieldset[disabled] .btn-green-line.active { 
  background-color: transparent; 
  border-color: #00B398; 
} 
 
.btn-green-line .badge { 
  color: #FFFFFF; 
  background-color: #00B398; 
}


.border-pink{
  border:1px solid #FC807E; 
} 


.btn-pink { 
  color: #ffffff; 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.navbar-default .navbar-nav > li > a.btn-pink:hover,
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #FFA3A1; 
  border-color: #FC807E; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #FF9391; 
  border-color: #FC807E; 
} 
 
.btn-pink .badge { 
  color: #FF9391; 
  background-color: #ffffff; 
}






.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:hover, 
.btn-lite-gray:focus, 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  color: #ffffff; 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray:active, 
.btn-lite-gray.active, 
.open .dropdown-toggle.btn-lite-gray { 
  background-image: none; 
} 
 
.btn-lite-gray.disabled, 
.btn-lite-gray[disabled], 
fieldset[disabled] .btn-lite-gray, 
.btn-lite-gray.disabled:hover, 
.btn-lite-gray[disabled]:hover, 
fieldset[disabled] .btn-lite-gray:hover, 
.btn-lite-gray.disabled:focus, 
.btn-lite-gray[disabled]:focus, 
fieldset[disabled] .btn-lite-gray:focus, 
.btn-lite-gray.disabled:active, 
.btn-lite-gray[disabled]:active, 
fieldset[disabled] .btn-lite-gray:active, 
.btn-lite-gray.disabled.active, 
.btn-lite-gray[disabled].active, 
fieldset[disabled] .btn-lite-gray.active { 
  background-color: #CCD0D9; 
  border-color: #CCD0D9; 
} 
 
.btn-lite-gray .badge { 
  color: #CCD0D9; 
  background-color: #ffffff; 
}




.btn-white-inverse { 
  color: #525252; 
  background-color: #FFFFFF; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse:hover, 
.btn-white-inverse:focus, 
.btn-white-inverse:active, 
.btn-white-inverse.active, 
.open .dropdown-toggle.btn-white-inverse { 
  color: #525252; 
  background-color: #D1D1D1; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse:active, 
.btn-white-inverse.active, 
.open .dropdown-toggle.btn-white-inverse { 
  background-image: none; 
} 
 
.btn-white-inverse.disabled, 
.btn-white-inverse[disabled], 
fieldset[disabled] .btn-white-inverse, 
.btn-white-inverse.disabled:hover, 
.btn-white-inverse[disabled]:hover, 
fieldset[disabled] .btn-white-inverse:hover, 
.btn-white-inverse.disabled:focus, 
.btn-white-inverse[disabled]:focus, 
fieldset[disabled] .btn-white-inverse:focus, 
.btn-white-inverse.disabled:active, 
.btn-white-inverse[disabled]:active, 
fieldset[disabled] .btn-white-inverse:active, 
.btn-white-inverse.disabled.active, 
.btn-white-inverse[disabled].active, 
fieldset[disabled] .btn-white-inverse.active { 
  background-color: #FFFFFF; 
  border-color: #F0F0F0; 
} 
 
.btn-white-inverse .badge { 
  color: #FFFFFF; 
  background-color: #525252; 
}


.yamm-content .btn:link{
  color:#666666 !important;
}

.yamm-content .btn:hover,
.yamm-content .btn:active,
.yamm-content .btn:focus{
  color:#00B398 !important;
}


.btn-burgundy { 
  color: #FFFFFF; 
  background-color: #623A3E; 
  border-color: #623A3E; 
} 

.btn-circle.btn-default:hover, 
.btn-circle.btn-default:focus, 
.btn-circle.btn-default:active, 
.btn-circle.btn-default.active, 
.open .dropdown-toggle.btn-burgundy { 
  border-color: #8A4950; 
  background-color: #ffffff;
} 

#bs-example-navbar-collapse-1 .btn-burgundy:hover, 
#bs-example-navbar-collapse-1 .btn-burgundy:focus, 
#bs-example-navbar-collapse-1 .btn-burgundy:active, 
#bs-example-navbar-collapse-1 .btn-burgundy.active, 
#bs-example-navbar-collapse-1 .open .dropdown-toggle.btn-burgundy, 
.btn-burgundy:hover, 
.btn-burgundy:focus, 
.btn-burgundy:active, 
.btn-burgundy.active, 
.open .dropdown-toggle.btn-burgundy { 
  color: #FFFFFF; 
  background-color: #8A4950; 
  border-color: #623A3E; 
} 
 
.btn-burgundy:active, 
.btn-burgundy.active, 
.open .dropdown-toggle.btn-burgundy { 
  background-image: none; 
} 
 
.btn-burgundy.disabled, 
.btn-burgundy[disabled], 
fieldset[disabled] .btn-burgundy, 
.btn-burgundy.disabled:hover, 
.btn-burgundy[disabled]:hover, 
fieldset[disabled] .btn-burgundy:hover, 
.btn-burgundy.disabled:focus, 
.btn-burgundy[disabled]:focus, 
fieldset[disabled] .btn-burgundy:focus, 
.btn-burgundy.disabled:active, 
.btn-burgundy[disabled]:active, 
fieldset[disabled] .btn-burgundy:active, 
.btn-burgundy.disabled.active, 
.btn-burgundy[disabled].active, 
fieldset[disabled] .btn-burgundy.active { 
  background-color: #623A3E; 
  border-color: #623A3E; 
} 
 
.btn-burgundy .badge { 
  color: #623A3E; 
  background-color: #FFFFFF; 
}


a.turquoise,
.turquoise { 
  color: #00B398 !important; 
} 

a.turquoise-on-hover:hover{ 
  color: #00B398 !important; 
} 


a.turquoise:hover, 
a.turquoise:visited,
a.turquoise:active{
  color: #81B4DF !important;
}

.fire,
a.fire { 
  color: #ee4239 !important; 
} 
a.fire:hover { 
  color: #F46D69 !important; 
} 

.bg-fire{  
  background-color: #ee4239 !important;
}

.btn-dark-sea { 
  color: #FFFFFF; 
  background-color: #00666E; 
  border-color: #00666E; 
} 
 
.btn-dark-sea:hover, 
.btn-dark-sea:focus, 
.btn-dark-sea:active, 
.btn-dark-sea.active, 
.open .dropdown-toggle.btn-dark-sea { 
  color: #FFFFFF; 
  background-color: #00666e; 
  border-color: #00666E; 
} 


a.dark-sea { 
  color: #00666E; 
} 
 
.dark-sea { 
  color: #00666E !important;
} 


.cobalt{
  color: #2c37b3 !important;
} 
 
.midnight{
  color: #1d1d71 !important;
} 

.btn-dark-sea:active, 
.btn-dark-sea.active, 
.open .dropdown-toggle.btn-dark-sea { 
  background-image: none; 
} 
 
.btn-dark-sea.disabled, 
.btn-dark-sea[disabled], 
fieldset[disabled] .btn-dark-sea, 
.btn-dark-sea.disabled:hover, 
.btn-dark-sea[disabled]:hover, 
fieldset[disabled] .btn-dark-sea:hover, 
.btn-dark-sea.disabled:focus, 
.btn-dark-sea[disabled]:focus, 
fieldset[disabled] .btn-dark-sea:focus, 
.btn-dark-sea.disabled:active, 
.btn-dark-sea[disabled]:active, 
fieldset[disabled] .btn-dark-sea:active, 
.btn-dark-sea.disabled.active, 
.btn-dark-sea[disabled].active, 
fieldset[disabled] .btn-dark-sea.active { 
  background-color: #00666E; 
  border-color: #00666E; 
} 
 
.btn-dark-sea .badge { 
  color: #00666E; 
  background-color: #FFFFFF; 
}



.btn-turquoise { 
  color: #ffffff; 
  background-color: #00B398; 
  border-color: #00B398; 
} 
 
.btn-turquoise:hover, 
.btn-turquoise:focus, 
.btn-turquoise:active, 
.btn-turquoise.active, 
.open .dropdown-toggle.btn-turquoise { 
  color: #ffffff; 
  background-color: #14A089; 
  border-color: #14A089; 
} 
 
.btn-turquoise:active, 
.btn-turquoise.active, 
.open .dropdown-toggle.btn-turquoise { 
  background-image: none; 
} 
 
.btn-turquoise.disabled, 
.btn-turquoise[disabled], 
fieldset[disabled] .btn-turquoise, 
.btn-turquoise.disabled:hover, 
.btn-turquoise[disabled]:hover, 
fieldset[disabled] .btn-turquoise:hover, 
.btn-turquoise.disabled:focus, 
.btn-turquoise[disabled]:focus, 
fieldset[disabled] .btn-turquoise:focus, 
.btn-turquoise.disabled:active, 
.btn-turquoise[disabled]:active, 
fieldset[disabled] .btn-turquoise:active, 
.btn-turquoise.disabled.active, 
.btn-turquoise[disabled].active, 
fieldset[disabled] .btn-turquoise.active { 
  background-color: #00B398; 
  border-color: #00B398; 
} 
 
.btn-turquoise .badge { 
  color: #00DCC1; 
  background-color: #ffffff; 
}


a.sunshine,
.sunshine{
  color:#ffb100 !important;
}


.btn-just-gray { 
  color: #373538 !important; 
  background-color: #E6E4E1; 
  border-color: #E6E4E1; 
} 
 
.btn-just-gray:hover, 
.btn-just-gray:focus, 
.btn-just-gray:active, 
.btn-just-gray.active, 
.open .dropdown-toggle.btn-just-gray { 
  color: #373538 !important; 
  background-color: #CFCDCB !important; 
  border-color: #E6E4E1 !important; 
} 
 
.btn-just-gray:active, 
.btn-just-gray.active, 
.open .dropdown-toggle.btn-just-gray { 
  background-image: none; 
} 
 
.btn-just-gray.disabled, 
.btn-just-gray[disabled], 
fieldset[disabled] .btn-just-gray, 
.btn-just-gray.disabled:hover, 
.btn-just-gray[disabled]:hover, 
fieldset[disabled] .btn-just-gray:hover, 
.btn-just-gray.disabled:focus, 
.btn-just-gray[disabled]:focus, 
fieldset[disabled] .btn-just-gray:focus, 
.btn-just-gray.disabled:active, 
.btn-just-gray[disabled]:active, 
fieldset[disabled] .btn-just-gray:active, 
.btn-just-gray.disabled.active, 
.btn-just-gray[disabled].active, 
fieldset[disabled] .btn-just-gray.active { 
  background-color: #E6E4E1; 
  border-color: #E6E4E1; 
} 
 
.btn-just-gray .badge { 
  color: #E6E4E1; 
  background-color: #373538; 
}

.label-success,
.btn-success{
  background-color: #00BA46 /*#1CA41B*/ !important;
  border-color: #00BA46 /*#1CA41B*/ !important;
}

.btn-circle-sm {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 10px;
  line-height: 1.1;
  border-radius: 12px;
}


.btn-circle-md {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.1;
  border-radius: 13px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.color-black{
  color:#000000;
}

.spinner-container.container1 > div,
.spinner-container.container2 > div, 
.spinner-container.container3 > div ,
.spinner6 .rect1,
.spinner6 .rect2,
.spinner6 .rect3,
.spinner6 .rect4,
.spinner6 .rect5{
  background-color: #5cb85c;
}

.single-listing-address{
  height: 23px;
  white-space: nowrap;
  overflow:hidden !important;

  text-overflow: ellipsis;
  color: #999999;
}

.ovf-hidden{
  overflow:hidden !important;
  text-overflow: ellipsis;
}

.search-item-name.ovf-hidden{
  height: 20px;
  white-space: nowrap;
  overflow:hidden !important;

  text-overflow: ellipsis;
}

img.bw {
  filter: grayscale(0);
}

.show-only-mobile, .show-ib-only-mobile{
  display:none;
}

/* SHADOW */
.box-shadow{
 -webkit-box-shadow: 0 7px 6px -6px #777;
 -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

.box-lite-shadow{
  -webkit-box-shadow: 0 3px 3px -3px #AAA;
  -moz-box-shadow: 0 3px 3px -3px #AAA;
  box-shadow: 0 3px 3px -3px #AAA;
}

.box-x-lite-shadow{
  -webkit-box-shadow: 0 2px 2px -2px #AAA;
  -moz-box-shadow: 0 2px 2px -2px #AAA;
  box-shadow: 0 2px 2px -2px #AAA;
}

.simple-shadow{
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
}

.panel-title{
  padding:10px;
}


.services-accordian .list-group-item{
  border-top:0px; border-left:0px;border-right:0px;
}

.pink{
  color:#FF9191 !important;
}
.label-pink,
.bg-pink{
  background-color:#FF9191;
}

.bg-lite-blue{
  background-color: #81B4DF; 
}

.bg-lite-gray{
  background-color: #FAFAF9; /*#f5f5f5; */
}

.bg-lite-gray-3{
  background-color: #F0F0F0;
}

.bg-med-gray{
  background-color: #DDDDDD; /*#f5f5f5; */
}

.bg-lite-gray-2{
  background-color: #E9E9E9; /*#f5f5f5; */
}

.no-box-shadow{
  box-shadow:none !important;
}

.bg-dark-gray{
  background-color: #6a6a6a !important; 
  color: #fff !important;
}

.bg-medium-gray{
  background-color: #CCCCCC !important; 
  color: #fff !important;
}

.bg-uber-dark-gray{

  background-color: #1E1E1E !important; 
  color: #fff !important;
}

.lite-blue{
  color: #81B4DF; 
}

.orange{
  color: #FC700C; 
}

.flip-shadow{
  position: relative;
}

.flip-shadow:before, .flip-shadow:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.flip-shadow:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.img-rounded{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #CCC;
}


a.blue-btn-arrow{
  position: relative;
  background: #81B4DF;
}

a.blue-btn-arrow:focus:after,
a.blue-btn-arrow:active:after,
a.blue-btn-arrow:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color:  #5C9FD6; /*#5cb85c;*/
  border-width: 4px;
  margin-left: -4px;
}


/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5cb85c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white  !important;
}

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#search-box-holder{
  float:none;vertical-align: middle;
  display:inline-block;width:60%;
}

#search-box-home-holder{
  float:none;vertical-align: middle;
  display:inline-block;width:70%;
}


#search-location-holder{
  display:inline-block;
  width:39%;  float:none;vertical-align: middle;
}

.banner-head #search-location-holder{
  width:29% ;
}

.banner-head input, .banner-head .btn{
  line-height: 1.7;
}

.banner-head .input-group-btn > .btn:hover{
  z-index:0 !important;
}

.home-category{
  margin-right:20px
}

.home-categories > .home-category:last-child{
  margin-right: 0px !important;
}

.home-category i{
  font-size: 225%;
}

.home-category .label{
  font-size: 100%;
}

.banner-content-form{
  background-color: rgba(0, 0, 0, 0.1);
  height: 410px;
  padding: 11px;
  position: absolute;
  top: 0;
  width: 100%;
}

#search-box-holder input,
#search-location-holder input{
  width: 100% !important;
}

.modal-sm{
  width:40%;
}

#user-tab-list li a{
  padding:12px 12px 12px 0px;
  border: 0px;
  border-radius:0px;
}

#user-tab-list li{
  padding-left: 0px;
  border: 0px;
  border-top: 1px solid #f0f0f0;
}

#user-tab-list.nav-tabs > li:last{
  border-bottom: 1px solid #f0f0f0;
  border-top: 0px;
}

#user-tab-list.nav-tabs > li > a:hover,
#user-tab-list.nav-tabs > li > a:focus,
#user-tab-list.nav-tabs > li > a:active{
  font-weight: bold;
  background-color: #fff;
}

#user-tab-list li:hover{
  font-weight: bold;
  background-color: #fff;
}

#user-tab-list.nav-tabs > li:last:hover{
  border-bottom: 1px solid #f0f0f0;
  border-top: 0px;
}

.nowrap{
    white-space: nowrap;
}

/*HACK FOR NOW*/

.sharable{
  __display: none;
}

.fa-sm{
  font-size:0.75em;
}


#fullscreen-overlay{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index: 997;
  display: none;
  background-color:rgba(0,0,0,0.4);
  /* -webkit-filter: blur(10px) grayscale(50%); */
}

#top-main-menu-container{
  z-index: 1000;
  position: relative;
}

.nav.navbar-nav.yamm{
  z-index: 1000;
}

.yellow{
  color: #ffb100 !important; 
}

.bg-yellow{
  background-color: #ffb100 !important; 
}

a .grow {     
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100% !important; 

  position: relative;
}

a:hover .grow{
  text-decoration: none !important;
  background-size: 105% !important; 
}


a.no-underline:hover,
a:hover div{
  text-decoration: none !important;
}

.ui-autocomplete.ui-front{
  z-index: 1001 !important;
}

li.single-business-element{
  list-style: none;
}

.jscroll ol{
  margin-bottom: 0px;
}

.next-pagination{
  list-style: none;
}
.next-pagination,
.next-pagination li,
.next-pagination li a{
    display: block;
    text-align: center;
    width: 100%;
}

.next-pagination li a{
  color: rgb(98,58,62); 
  background-color: #FFC800; 
  border-color: #FFD900; 
} 


.next-pagination li a:hover, 
.next-pagination li a:focus, 
.next-pagination li a:active, 
.next-pagination li a.active, 
.open .dropdown-toggle.next-pagination li a { 
  color: #000; 
  background-color: #ffc800; 
  border-color: #FFD900; 
}
 
.next-pagination li a:active, 
.next-pagination li a.active, 
.open .dropdown-toggle.next-pagination li a { 
  background-image: none; 
} 
 
.next-pagination li a.disabled, 
.next-pagination li a[disabled], 
fieldset[disabled] .next-pagination li a, 
.next-pagination li a.disabled:hover, 
.next-pagination li a[disabled]:hover, 
fieldset[disabled] .next-pagination li a:hover, 
.next-pagination li a.disabled:focus, 
.next-pagination li a[disabled]:focus, 
fieldset[disabled] .next-pagination li a:focus, 
.next-pagination li a.disabled:active, 
.next-pagination li a[disabled]:active, 
fieldset[disabled] .next-pagination li a:active, 
.next-pagination li a.disabled.active, 
.next-pagination li a[disabled].active, 
fieldset[disabled] .next-pagination li a.active { 
  background-color: #FFC900; 
  border-color: #FFD900; 
} 


.nav > li > a.city:active, .nav > li > a.city:hover{
  background-color: transparent !important;
  text-decoration: none;
}
 
.nav > li > a.city:link{
  background-color: transparent !important;
  text-decoration: none;
}


.bg-yellow{
  background-color: #ffc800 !important; 
}
.bg-lite-turquoise{
  background-color: #BEE1DB;
}

.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  z-index: 999;
}
.glyphicon{
  color:#999;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.va-container-v{
  width:100%;
}

.va-container-h{
  height:100%;
}

.va-container{
  display: table;
  position: relative;
}

.va-top, .va-middle, .va-bottom {
  display: table-cell;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width:auto !important;
}

.btn-group.bootstrap-select .btn{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.list-compressed > li{
  padding-left:1px; padding-right:1px;
}

.hoverable .hide-on-hover{
  display:block;
}

.hoverable .show-on-hover{
  display:none;
}

a.hover-underline:hover{
  text-decoration: underline !important;
}

a.hover-color-turquoise:hover,
a.hover-color-turquoise:hover .label{
  color: #00B398 !important;
}

a.hover-color-gray:hover{
  color: #999999 !important;
}

a.hover-bg-yellow:hover{
  background-color: #ffc800 !important;
}

a.hover-color-yellow:hover{
  color: #ffc800 !important;
}


a.hover-border-gray:hover{
  border-color: #999999 !important;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
}


.package-card-holder table.table > tbody > tr:first-child > th, 
.package-card-holder table.table > tbody > tr:first-child > td{
  
  border-top: 0px !important;
}

.navbar-secondary .dropdown-menu{
  border: 1px solid #DADADA;


  box-shadow: 0px !important;
  z-index: 1;
  margin-top: -1px !important;

}

/* .dropdown:hover .dropdown-menu {
_display: block;
}*/

/* .col-md-15, .col-xs-15{
    width:20%;
}*/

.col-xs-20, .col-sm-20, 
.col-md-20, .col-lg-20 { 
  position: relative; 
  min-height: 1px; 
  padding-right: 10px; 
  padding-left: 10px;
}

.col-xs-20 { 
  width: 20%; float: left; 

} 

@media (min-width: 768px) { 
  .col-sm-20 { 
    width: 20%; 
    float: left; 
  } 
} 

@media (min-width: 992px) { 
  .col-md-20 { 
    width: 20%; float: left;
   }
} 

@media (min-width: 1200px) { 
  .col-lg-20 { 
    width: 20%; 
    float: left; 
    }
}


.cover-parallax{
  position:absolute; 
  height:450px;
  top:55px;
  width:100%;
  z-index:0;


}
.cover-parallax-mobile{
  position:absolute; 
  height:300px;
  top:50px;
  width:100%;
  z-index:0;


}

.overlap-parallax-mobile{
  position:absolute; 
  height:300px; 
  top:50px; width:100%; 
  z-index:0;
}

.overlap-parallax{
  position:absolute; height:450px; 
  top:55px; width:100%; z-index:0;
}

.overlap-parallax-content{
  height:360px;
}

.overlap-parallax-content-no-photo{
  height:413px;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffc800;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

ul.vertical-filter .btn{
  padding:3px 4px 3px 4px;
  font-size: 11px;
}

.background-login-screen{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/bg-login-screen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  _background-size: 100% auto;
}

#page-full-overlay {
  display: none;
/*  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 99;
  top: 0;
  left: 0;*/
}

.banner-head,
.banner-head input,
.ui-autocomplete{
  __z-index: 9999 !important;
}

input#search-selector{
  ___z-index: 99999 !important;
}


::-webkit-input-placeholder {
   color: #666666 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666666 !important;   
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666666 !important; 
}

:-ms-input-placeholder {  
   color: #666666 !important;
}

#smartbanner { position:absolute; left:0; top:-82px; border-bottom:1px solid #e8e8e8; width:100%; height:85px; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); box-shadow:0 1px 2px rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#smartbanner .sb-container { margin: 0 auto; }
#smartbanner .sb-close { position:absolute; left:5px; top:5px; display:block; border:2px solid #fff; width:14px; height:14px; font-family:'ArialRoundedMTBold',Arial; font-size:15px; line-height:15px; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:14px; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#smartbanner .sb-close:active { font-size:13px; color:#aaa; }
#smartbanner .sb-icon { position:absolute; left:30px; top:10px; display:block; width:57px; height:57px; background:rgba(0,0,0,0.6); background-size:cover; border-radius:10px; box-shadow:0 1px 3px rgba(0,0,0,0.3); }
#smartbanner.no-icon .sb-icon { display:none; }
#smartbanner .sb-info { position:absolute; left:98px; top:18px; width:44%; font-size:11px; line-height:1.2em; font-weight:bold; color:#6a6a6a; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
#smartbanner #smartbanner.no-icon .sb-info { left:34px; }
#smartbanner .sb-info strong { display:block; font-size:13px; color:#4d4d4d; line-height: 18px; }
#smartbanner .sb-info > span { display:block; }
#smartbanner .sb-info em { font-style:normal; text-transform:uppercase; }
#smartbanner .sb-button { position:absolute; right:20px; top:24px; border:1px solid #bfbfbf; padding: 0 10px; min-width: 10%; height:24px; font-size:14px; line-height:24px; text-align:center; font-weight:bold; color:#6a6a6a; background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-transform:uppercase; text-decoration:none; text-shadow:0 1px 0 rgba(255,255,255,0.8); border-radius:3px; box-shadow:0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(255,255,255,0.7) inset; }
#smartbanner .sb-button:active, #smartbanner .sb-button:hover { background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

#smartbanner .sb-icon.gloss:after { content:''; position:absolute; left:0; top:-1px; border-top:1px solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:10px 10px 12px 12px; }

#smartbanner.android { border-color:#212228; background: #3d3d3d ; border-top: 5px solid #000000; box-shadow: none; }
#smartbanner.android .sb-close { border:0; width:17px; height:17px; line-height:17px; color:#b1b1b3; background:#1c1e21; text-shadow:0 1px 1px #000; box-shadow:0 1px 2px rgba(0,0,0,0.8) inset,0 1px 1px rgba(255,255,255,0.3); }
#smartbanner.android .sb-close:active { color:#eee; }
#smartbanner.android .sb-info { color:#ccc; text-shadow:0 1px 2px #000; }
#smartbanner.android .sb-info strong { color:#fff; }
#smartbanner.android .sb-button { min-width: 12%;  color:#000000; background: none; border-radius: 0; box-shadow: none; }
#smartbanner.android .sb-button span { text-align: center; display: block; padding: 0 10px; background-color: #ffc800; background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffc800),to(#ffc800)); background-image: -moz-linear-gradient(top,#ffc800,#ffc800); text-transform:none; text-shadow:none; box-shadow:none; }
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover { background: none; }
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background:#ffc800; }



.bg-image{
  background-size:100%;
  background-position:center top;
  background-repeat:no-repeat;
}

.t10{
  top:10px;
}

.b10{
  bottom:10px;
}

.l10{
  left:10px;
}

.r10{
  right:10px;
}


.bg-popup{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/bg-pop-up.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.bg-home-banner-pink{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/fabfinds.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.bx-wrapper {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 auto 10px !important;
}



.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  padding: 12px 3px;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}


.bottom0{
  bottom:0px;
}

.bottom5{
  bottom:5px;
}

.right5{
  right:5px;
}


.bottom10{
  bottom:10px;
}

.right10{
  right:10px;
}

.force-gray .slick-prev::before, 
.force-gray .slick-next::before{
  color: #666666 !important;
}

.slicker-next,
.slick-next{
  right:5px;
  z-index: 999;
}

.slicker-prev,
.slick-prev{
  left:5px;
  z-index: 999;

}

.slick-out .slick-next{
  right:-25px;
  z-index: 999;
}

.slick-out .slick-prev{
  left:-25px;
  z-index: 999;

}

#fakeloader{
  opacity: 0.9;
}

.show-only-mobile .bx-wrapper{
  margin-bottom: 0px !important;
}


#top-main-menu-container .navbar-secondary.navbar-nav > li.dropdown > a{
  color: #A0A0A0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.col-md-3point5 {width: 28.75%}
.col-md-8point5 {width: 81.25%;}


#full-screen-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.well{
  border:1px solid #cccccc;
}

.page-font-override p span {
  font-size: 120% !important;
}