<div ng-include src="'/app/templates/elements/search-box-below-navigation.html'"></div>

<div ng-controller="VenuesController as venuesCtrl" class="container" >

<div class="row bg-white" >
  <div class="col-md-12 ">

    <div class="no-text-shadow preangular  fs90 hide-only-mobile">
      <div ng-include src="'/app/templates/businesses/partials/breadcrumbs.html'"></div>
    </div>

      <div class="row">
        <div class="col-md-9 col-xs-9">
          <div class="p10 show-only-mobile"></div>
          <h1 class="preangular  item-heading pb10 mt0 mb5">
            <!--title -->
            {{ venuesCtrl.titleText }}
            <small class=" fw500" >
              <a id="lnk-to-change-location" href="javascript:void(0)" class="hide-only-mobile hover-underline fire">CHANGE LOCATION</a>
            </small>
          </h1>
        </div>
        <div class="col-md-3  col-xs-3">
          <p class="pt15  show-only-mobile"></p>
            <div class="text-right gray preangular ">({{ venuesCtrl.totalItems }}&nbsp;venues)</div>
        </div>
      </div>
    <div class="p5 show-only-mobile"></div>
  </div>
</div>
<div class="row bt">
  <div class="row-height">
  <div class="col-md-9  col-height bg-white">
    <div  class=" -inside-full-height">
      <div class=" fake-load-it bg-white bb " style="margin-left:-15px; margin-right:-20px;" >
        <!-- horizontal filter goes here -->
        <div class="hide-only-mobile">
          <div ng-include src="'/app/templates/businesses/partials/horizontal-categories-filter.html'"></div>
        </div>
        <div class="show-only-mobile force-gray">
          <ul class="mobile-category-filter hidden padded12 mb0" >
            <li class="dpb text-center">
              <a href="#" 
                class="fs110  color-black  pb10 pt10 bbb-turquoise">All</a>
            </li>
            <li ng-repeat="category in venuesCtrl.filters.categories" class="dpb text-center">
              <a class="fs110 color-black pb10 pt10 bbb-gray-on-hover">
                <b>{{ category.name }}</b>
              </a>
              <div class="clearfix"></div>
            </li>
            <!-- show selected category here -->
            <!-- show rest of categories here -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="hide-only-mobile ">
          <div class="col-md-3 pr10 pl10 br filter-column fake-load-it li-pl0 ">
            <div class="p15 pt5 mt5 pb5 bg-white  ___border-radius-3 mb10">
              <!--vertical filter goes here-->
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-sort.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-zones.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-services.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-gender.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-price.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-highlights.html'"></div>
            </div>
          </div>
        </div>
        <div class="show-only-mobile mt_5 p0 pt0 pb0">
          <div class="navbar-header show-only-mobile ba  bg-white ba  mb0">
            <div class="dpb">
              <button data-target="#vertical-navbar-filter" data-toggle="collapse" class="navbar-toggle p0 mb0 collapsed mb0" type="button">
                <span class="sr-onlyhttp://v2.mazkara.local">Toggle navigation</span>
                <i class="fa fa-filter "></i>
              </button>
              <span class="visible-xs navbar-brand p10 " style="height:auto;"><small>Filters</small></span>
            </div>
          </div>
        </div>
        <div class="show-only-mobile">
          <div id="vertical-navbar-filter" >
          <div class="col-md-3 filter-column fake-load-it li-pl0 ">
            <div class="p15 pt5 pb5 bg-white  border-radius-3 mb10">
              <!--vertical filter goes here-->
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-sort.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-zones-mobile.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-services.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-gender.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-price.html'"></div>
              <div ng-include src="'/app/templates/businesses/partials/vertical-filter-highlights.html'"></div>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-9 pl0-mobile mt0 pl10 pr10 pr0-mobile li-pl0 " id="venues-listing-holder" style="min-height:200px;">
          <div id="fakeloader"></div>
          <div id="msg-pre-page-loader" class="hidden" style="text-align:center; padding-top:160px;padding-bottom:160px;">
            Loading Venues...
          </div>



          <div class="show-on-load p15 pb0 pt5" style="" >
            <div class="show-only-mobile">
              <!--ads for mobile go here-->
            </div>
          </div>
          <div ng-show="venuesCtrl.venues.length > 0" class="list-group fake-load-it" >
            <div ng-repeat="venue in venuesCtrl.venues" class="listing" >
              <div ng-include src="'/app/templates/businesses/partials/single.html'"></div>
            </div>
            <div style="margin-bottom:20px;" >
              <ul uib-pagination items-per-page="venuesCtrl.numPerPage" max-size="venuesCtrl.maxSize" 
                  template-url="/app/templates/elements/pagination/basic.html" 
                  total-items="venuesCtrl.totalItems" ng-model="venuesCtrl.currentPage" 
                  boundary-link-numbers="true" rotate="false" ng-change="venuesCtrl.pageChanged()"></ul>

            </div>
          </div>
          <div id="msg-no-results" ng-show="(venuesCtrl.venues.length == 0) && (venuesCtrl.initialized == 1)"  class="hidden mt60 mb20">
            <div class="text-center">
              <div class="p10 mt20">
                <p><b>NO RESULTS FOUND</b></p>
                <p>
                  <a class="yellow" href="#">
                    <b>Browse all results in </b>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <!-- businesses listed here -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 bg-lite-gray-3 hide-only-mobile col-height pt10">
    <div class=" -inside-full-height ">
      <div ng-include src="'/app/templates/businesses/partials/vertical-ads.html'"></div>
    </div>
  </div>
</div>
</div>
</div>
