<div  class="hide-only-mobile relative clearfix ">
  <a href="{{ venue.url }}" class="relative bb0 dpb" >
    <img src="{{ venue.cover_image }}" width="100%" height="100%" class="fw300" style="max-width:250px; max-height:173px; display:block;vertical-align:middle;font-size:40px;" />
    <div class="tpos0 absolute overlap-transparent-3x dpb va-container-v va-container-h "></div>
      <div class="absolute bpos10  rpos10">
        <span class="force-white"><b><small>{{ venue.reviews_count + venue.total_ratings_count}} votes&nbsp;</small></b></span>


        <span class="dark-gray">
          <span style="padding:1px 4px;font-size:18px;" class="border-radius-3 dpib  rating-5 bold-font force-white  " title="Rated 4.62 stars">
            <div><b>{{ venue.rating_average | number : 1 }}</b></div>
          </span>
        </span>

      </div>
    </a>


    <div class=" p5 bg-white bg-white ba bt0  mb5" style="max-height:65px;">
    <div class="text-left">
      <span class="">
        <span class="">
          <h5 class=" fw900 media-heading mb0 notransform  ">
            <a title="{{ venue.name }}" href="/" class="dpb h24 w100pc dark-gray nowrap ovf-hidden fs80 ">
              <span class="fs150 show-only-mobile">{{ venue.name }}</span>
              <span class="fs110 hide-only-mobile ">{{ venue.name }}</span>
            </a>
          </h5>
          <span title="{{ venue.zone_cache }}" class="dpb  medium-gray search-item-address ">
            {{ venue.zone_cache }}
          </span>
        </span>
          <span class="clearfix"></span>

        </span>

        <span class="hidden">
        <h5 class="search-item-name media-heading mb0 notransform bolder ">
          <a title="{{ venue.name }}" href="/" class=" fs80">
            {{ venue.name }}
          </a>
        </h5>
        <span title="{{ venue.zone_cache }}" class="search-item-address ">
          {{ venue.zone_cache }}
        </span>
      </span>

    </div>

      
    </div>
  </div>
