<div class="container bg-white p0" ng-controller="VenuesController as venuesCtrl">
  <div ng-controller="ReviewsController as reviewCtrl">
    <div ng-include src="'/app/templates/businesses/partials/desktop/parallax.html'"></div>
    <div style="z-index:100;height:396px;" class="container relative height-283-mobile">
      <div style="z-index: 999;" class="w100pc absolute top-0-mobile top-0">
        <!-- search box goes here -->
        <div ng-include src="'/app/templates/elements/search-box-on-cover.html'"></div>
        <!-- breadcrumbs here -->
        <div class="mt0 force-white">
          <div ng-include src="'/app/templates/businesses/partials/breadcrumbs.html'"></div>
        </div>
        <!-- breadcrumbs till here -->      
      </div>
      <div ng-include src="'/app/templates/businesses/partials/single-mobile-header.html'"></div>
      <div ng-include src="'/app/templates/businesses/partials/single-desktop-header.html'"></div>
    </div>
    <div ng-include src="'/app/templates/businesses/partials/mobile/parallax.html'"></div>
    <div class="hide-only-mobile">
      <div ng-include src="'/app/templates/businesses/partials/desktop/highlights.html'"></div>
      <div class="container ">
        <div class="row">
          <div class="row-height">
            <div style="vertical-align:top;" class="col-md-3 col-height pt20 bg-lite-gray-3 col-height ">
              <div class="hide-only-mobile pt10">
                <div>
                  <div ng-include src="'/app/templates/businesses/partials/desktop/location.html'"></div>
                  <div ng-include src="'/app/templates/businesses/partials/desktop/timings.html'"></div>
                </div>
              </div>
            </div>
            <div style="vertical-align:top;" class="col-md-6 col-height ">
              <div class="row">
                <div class="col-md-12 pt20 bg-white ">
                  <div ng-include src="'/app/templates/businesses/partials/desktop/about.html'"></div>
                  <div class="hide-only-mobile">
                    <div ng-include src="'/app/templates/businesses/partials/desktop/menu.html'"></div>
                    <div ng-include src="'/app/templates/businesses/partials/desktop/photos.html'"></div>
                  </div>
                  <div ng-include src="'/app/templates/businesses/partials/desktop/services.html'"></div>
                  <div ng-include src="'/app/templates/businesses/partials/desktop/reviews.html'"></div>
                  <p>
                    <a class="text-danger" href="http://v2.mazkara.local/dubai/claim/1114">Claim your Business</a>
                  </p>
                  <p>
                    <a id="report-link" class="text-danger report-link" href="javascript:void(0)">Report a Problem?</a>
                  </p>
                  <div class=" pt10 pb10">
                    <hr>
                    <div class="b_g-white pl0 ">
                      <h4 class="item-headers fs125 gray notransform pt0 mt0"> 
                        Related searches leading to this page
                      </h4>
                      <span class="gray">
                        <a ng-repeat="label in ['menu', 'location', 'rate card', 'offers', 'prices', 'reviews']" href="http://v2.mazkara.local/dubai/queens-beauty-lounge-dubai-marina?fabtrack=body" class="gray hover-underline fs90">{{ venuesCtrl.getCurrentVenueAttr('name') }} {{ label }}</a>,
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"></div>
              </div>
            </div>
            <div style="vertical-align:top;" class="col-md-3 bg-lite-gray-3 col-height pt20">
              <div ng-include src="'/app/templates/businesses/partials/vertical-ads.html'"></div>
              <div class="fw500 pb10 mb10">FEATURED</div>
              <div ng-repeat="venue in venuesCtrl.currentSuggestedVenues" class="mb10 bg-white p10">
                <div ng-include src="'/app/templates/businesses/partials/single-minimal.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://maps.google.com/maps/api/js?language=en&amp;libraries=places&amp;sensor=true"></script>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('body').on('click', '.reviews-load-btn', function () {
    $(this).hide();
    $('.review-hidden').show();
  });

//  $('#service_ids').selectize({
//    maxItems:3
//  });


  $('body').on('click', '#submit-review-button', function () {
    rev_rating = $('#form-manage-review').find('select[name=rating]').first();
    rev_body = $('#form-manage-review').find('textarea[name=body]').first();
    missing = [];
    console.log(rev_rating,rev_body);
    if($(rev_rating).val() == 0){
      missing.push('You cannot add a Review without a rating! ');
    }

    if($(rev_body).val().length < 50){
      missing.push('Less than 50 characters? C\'mon babes you can do better than that!');
    }

    if(missing.length>0){
      alert(missing.join("\n"));
      return false;
    }else{
      var $btn = $(this).button('loading')
      $('#form-manage-review').submit();
    }

  });



//$('#text-review-body').textcounter({
//    min: 50,
//    max: 2000000,
//    countDownText: "Characters Left: ",
//    minimumErrorText: "Minimum 50 Characters!",
//    counterErrorClass: "text-danger",
//    countContainerClass:"pl0",
//    counterText: "Review Length: "
//});

$('body').on('click', '.toggl-review-form', function () {
  $(this).hide();
  $('#basic-review-form').show();
});

$('body').on('click', '.lnk-close-review-form', function () {
  $('.toggl-review-form').show();
  $('#basic-review-form').hide();
});


$('body').on('click', '.review-btn', function (e) {
    e.preventDefault();
  $('.toggl-review-form').trigger('click');

    var target = this.hash;
    var $target = $(target);

    $('html, body').stop().animate({
        'scrollTop': $target.offset().top
    }, 900, 'swing', function () {
        window.location.hash = target;
    });


  });


});

 

</script>
