<div class="container bg-white p0">
    <div class="container relative">
        <div style="z-index: 999;" class="w100pc absolute top-0-mobile ">
	        <div ng-include src="'/app/templates/elements/search-box-on-cover.html'"></div>
        </div>
    </div>
    <div style="position:absolute; height:430px;width:100%;z-index:0;
background:url(https://s3.amazonaws.com/mazkaracdn/assets/fab-about-us.jpg);" class="container text-center" id="tf-home"></div>
    <div style="height:395px;" class="text-center">
        <div class="content">
            <div style="margin-top:125px;" class="container ">
                <div class="fs220 mt50 text-right pull-right text-shadow"><span class="force-white">Inspired by the fabulous in you </span></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 bg-white"> -->
            <div class="col-md-10 bg-white col-md-offset-1">
                <h1 class="text-center fw300 notransform">About Fabogo</h1>
                <div "=" " class"row="">
                    <div class="col-md-12 text-center">
                        <div class="fs125">
                            <p class="text-left"> At Fabogo, we are inspired by human happiness. The stride of confidence, the rush of adrenaline &amp; the feeling of serenity.
                            </p>
                            <p class="text-left"> We are inspired by the simple things that make each of you unique.
                            </p>
                            <p class="text-left"> The spirit of your personality, the glint in your eyes, the spring in your step or that moment you let go of your day. We are inspired by the fabulous in you.
                            </p>
                            <p class="text-left"> Fabogo celebrates you.
                            </p>
                            <p class="text-left"> Go on, be Fab!
                            </p>
                        </div>
                        <h1 class="text-center fw300 notransform">Our Goal</h1>
                        <div class="fs125">
                            <p class="text-left"> Our goal is to disrupt the beauty &amp; wellness industry. We are endlessly working towards the mission of making our users feel fab on the go.
                            </p>
                            <p class="text-left"> With our slick technology, rich content and seamless user experience we enable our users to explore trends and discover the best venues, services and people around them.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="p10"></p><img width="100%" src="https://s3.amazonaws.com/mazkaracdn/assets/fab-about-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p class="pt20"></p>
                <h1 class="text-center pt20 p15 pb10 notransform">Meet the <span class="turquoise">Team</span></h1>
                <p class="pt20"></p>
                <div class="row">
                    <div class="col-md-4 text-center"><img class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/roy.jpg">
                        <p class="fs125 mt5 mb0">Prasanjeet Roy</p>
                        <p class="mb15">Co-Founder &amp; CEO</p>
                    </div>
                    <div class="col-md-4 text-center"><img class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/ali3.jpg">
                        <p class="fs125 mt5 mb0">Mohammad Ali Akmal</p>
                        <p class="mb15">Co - Founder &amp; CTO</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/abdulla-shaikh-sales.jpg">
                        <p class="fs125 mt5 mb0">Abdulla Shaikh</p>
                        <p class="mb15">Sales</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/akhil-khorana-content.jpg">
                        <p class="fs125 mt5 mb0">Akhil Khorana</p>
                        <p class="mb15">Content</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/munish.jpg">
                        <p class="fs125 mt5 mb0">Munish Thakur</p>
                        <p class="mb15">Android</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/joel.jpg">
                        <p class="fs125 mt5 mb0">Joel D'sa</p>
                        <p class="mb15">Content</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/sumedha.jpg">
                        <p class="fs125 mt5 mb0">Sumedha Dhoot</p>
                        <p class="mb15">Content</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/akshay-gokalgandhi-operations.jpg">
                        <p class="fs125 mt5 mb0">Akshay Gokalgandhi</p>
                        <p class="mb15">Operations</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/gopal-randhir-graphic-design.jpg">
                        <p class="fs125 mt5 mb0">Gopal Randhir</p>
                        <p class="mb15">Design</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/harshita.PNG">
                        <p class="fs125 mt5 mb0">Harshita Shah</p>
                        <p class="mb15">Human Resources</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/ruchika-singh-sales.jpg">
                        <p class="fs125 mt5 mb0">Ruchika Singh</p>
                        <p class="mb15">Sales</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/siva.jpg">
                        <p class="fs125 mt5 mb0">Sivaram Adabala</p>
                        <p class="mb15">Digital Marketing</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/raveena.jpg">
                        <p class="fs125 mt5 mb0">Raveena Poon</p>
                        <p class="mb15">Sales</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/siddharth.jpg">
                        <p class="fs125 mt5 mb0">Siddharth Hiremath</p>
                        <p class="mb15">Content</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/karan-monga-operations.jpg">
                        <p class="fs125 mt5 mb0">Karan Monga</p>
                        <p class="mb15">Operations</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center"><img width="200" class="bw img-circle" src="https://s3.amazonaws.com/mazkaracdn/assets/team/kishore-babani-sales.jpg">
                        <p class="fs125 mt5 mb0">Kishore Babani</p>
                        <p class="mb15">Sales</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/megha-sharma-sales-operations.jpg">
                        <p class="fs125 mt5 mb0">Megha Sharma</p>
                        <p class="mb15">Sales Operations</p>
                    </div>
                    <div class="col-md-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/nitesh-d-costa-sales.jpg">
                        <p class="fs125 mt5 mb0">Nitesh D'Costa</p>
                        <p class="mb15">Sales</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center"><img width="200" class="img-circle bw " src="https://s3.amazonaws.com/mazkaracdn/assets/team/surabhi-mokashi-marketing.jpg">
                        <p class="fs125 mt5 mb0">Surabhi Mokashi</p>
                        <p class="mb15">Marketing</p>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>