<div ng-include src="'/app/templates/elements/search-box-below-navigation.html'"></div>
<div class="container relative bg-white p0" ng-controller="AddBusinessController as AddBusinessCtrl">
    <div style="position:absolute; height:400px;;width:100%;z-index:0;background:url(https://s3.amazonaws.com/mazkaracdn/assets/add-business.jpg) no-repeat fixed center center / cover rgba(200, 82, 126, 0)" class="text-center container" id="tf-home"></div>
    <div style="height:365px;;" class="text-center">
        <div class="content"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-1 bg-white pt20 ">
                <h2 class="text-left fw300 notransform">Add Your Business</h2>
                <p class="lead text-left fs125"> Fill in the form and a Customer representative will contact you shortly
                </p>
                <p class="text-center"></p>
                <style type="text/css">
                    label {
                        text-align: left !important;
                    }
                </style>
                <form onsubmit="document.getElementById('submit-btn').disabled=true;" enctype="multipart/form-data" class="form-horizontal" action="/add-your-business" method="POST">
                    <input type="hidden" value="HOUWNWhsDuANySPtNx0xJ0V2KiS9o6FDJE2bdWqU" name="_token">
                    <div class="form-group">
                        <label for="name" class="col-sm-4 col-lg-3 control-label">Full name*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" required="required" placeholder="Your Name" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-4 col-lg-3 control-label">Phone*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" required="required" placeholder="Phone Number" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 col-lg-3 control-label">Email*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="email" required="required" placeholder="Email address" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-4 col-lg-3 control-label">Message*</label>
                        <div class="col-sm-8 col-lg-8">
                            <textarea required="required" placeholder="Any details" class="form-control" id="message" cols="50" rows="10" name="message"></textarea>
                        </div>
                    </div>
                    <div data-sitekey="6LdXKAYTAAAAAHsjF7aoyORLse3Ppy8xRS0yPuwy" class="g-recaptcha">
                        <div style="width: 304px; height: 78px;">
                            <div>
                                <iframe width="304" height="78" frameborder="0" src="https://www.google.com/recaptcha/api2/anchor?k=6LdXKAYTAAAAAHsjF7aoyORLse3Ppy8xRS0yPuwy&amp;co=aHR0cDovL3YyLm1hemthcmEubG9jYWw6ODA.&amp;hl=en&amp;v=r20161004153729&amp;size=normal&amp;cb=ncclc4cezoo1" title="recaptcha widget" role="presentation" scrolling="no" name="undefined"></iframe>
                            </div>
                            <textarea style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; " class="g-recaptcha-response" name="g-recaptcha-response" id="g-recaptcha-response"></textarea>
                        </div>
                    </div>
                    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
                    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/r20161004153729/recaptcha__en.js"></script>
                    <script src="https://www.google.com/recaptcha/api.js?hl=en" type="text/javascript"></script>
                    <br>
                    <input type="hidden" value="HOUWNWhsDuANySPtNx0xJ0V2KiS9o6FDJE2bdWqU" name="_token">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="message"></label>
                        <div class="col-lg-8">
                            <input type="submit" value="Send" class="btn btn-turquoise" id="submit-btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>