<div ng-include src="'/app/templates/elements/search-box-below-navigation.html'"></div>
<div class="container relative bg-white p0" ng-controller="ContactController as ContactCtrl">
    <div style="position:absolute; height:375px;;width:100%;z-index:0;background:url(https://s3.amazonaws.com/mazkaracdn/assets/contact-us.jpg) no-repeat fixed center center / cover rgba(200, 82, 126, 0)" class="container text-center" id="tf-home"></div>
    <div style="height:350px;" class="text-center">
        <div class="content">
            <div class="container">
                <div style="width:350px;" class="fs150 mt50 text-left pull-left ">
                    <h1 class="text-left fw300 notransform yellow">Talk to us</h1>
                    <p class="lead text-left "> We'd love to chat
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <style type="text/css">
                label {
                    text-align: left !important;
                }
            </style>
            <div class="col-md-7 col-md-offset-1 bg-white pt20 ">
                <form onsubmit="document.getElementById('submit-btn').disabled=true;" enctype="multipart/form-data" class="form-horizontal" action="" method="POST">
                    <input type="hidden" value="HOUWNWhsDuANySPtNx0xJ0V2KiS9o6FDJE2bdWqU" name="_token">
                    <div class="form-group">
                        <label for="name" class="col-sm-4 col-lg-3 control-label">Full name*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" required="required" placeholder="Full Name" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-4 col-lg-3 control-label">Phone*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" required="required" placeholder="Phone Number" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 col-lg-3 control-label">Email*</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="email" required="required" placeholder="Email address" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-4 col-lg-3 control-label">Message*</label>
                        <div class="col-sm-8 col-lg-8">
                            <textarea required="required" placeholder="Talk to us" class="form-control" id="message" cols="50" rows="10" name="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="message"></label>
                        <div class="col-lg-8">
                            <input type="submit" value="Send" class="btn btn-turquoise" id="submit-btn">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 ">
                <div class="mb25">
                    <p class="mb10"><a style="background-color:#dadada;" class="p10 dpb text-left" href="/add-your-business">Add Business</a></p>
                    <p class="mb10"> Own a Salon or Spa? Get in touch with us.
                    </p>
                </div>
                <div class="mb25">
                    <p class="mb10"><a style="background-color:#dadada;" class="p10 dpb text-left" href="/jobs">Work with us</a></p>
                    <p> We're hiring! Check out all open positions.
                    </p>
                </div>
                <div class="hidden">
                    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend><address><strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br><abbr title="Phone"> P:</abbr> (123) 456-7890
</address><address><strong>Full Name</strong><br><a href="mailto:#">first.last@example.com</a></address></div>
            </div>
        </div>
    </div>
</div>