<div ng-include src="'/app/templates/elements/search-box-below-navigation.html'"></div>
<div class="container relative bg-white p0">
  <div style="position:absolute; height:350px;;width:100%;z-index:0;background:url(https://s3.amazonaws.com/mazkaracdn/assets/fab-banner-hiring.jpg) no-repeat fixed center center / cover rgba(200, 82, 126, 0)" class="container text-center" id="tf-home">
  </div>
  <div style="height:355px;" class="text-center">
    <div class="content ">
      <div style="margin-top:40px;" class="container "></div>
    </div>
  </div>
  <div class="container pb15">
    <div class="row">
      <!-- <div class="col-md-12 bg-white"> -->
      <div class="col-md-10 bg-white col-md-offset-1">
        <h1 class="text-center notransform">Work @ Fabogo</h1>
        <p class="fs125 text-justify dark-gray">At Fabogo we believe fabulous is not just a feeling, but an undying state of mind. It brings us together, it fuels our passion, and most importantly, it drives us forward. With a rebellious spirit and a young heart, we celebrate fab in everything we do. We challenge ourselves to learn and grow. We act with integrity and pursue creative perfection. We set great ambitions and work in harmony. We’re looking out for top talent to join our expanding squad of Fabulists, aiming to bring a revolution in the beauty and wellness industry. Through slick technology and a fabulous idea coupled with amazing people, Fabogo is out to change the world of fab!
        </p>
        <p class="fs125 text-justify dark-gray">We're currently on the lookout for super top talent in Sales, PR, Marketing, Mobile and Application development If you share our beliefs &amp; passion we may have a place for you - send us your resume with a short tweet on why should we hire you?
        </p>
        <p class="fs125 text-center dark-gray">Work hard. Play Fab!</p>
      </div>
    </div>
  </div>
  <h1 class="text-center notransform">Life @ Fabogo</h1>
  <p>&nbsp;</p>
  <section style="background-size:40%;background-image:url('https://s3.amazonaws.com/mazkaracdn/assets/culture/bg.png'); background-repeat:no-repeat; background-position:center center;" class="hide-only-mobile">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-4">
              <div style="margin-left:50px;" class="text-center">
                <div style="height:60px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/stocked-pantry.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Stocked Pantry</h3>
                <p class="dark-gray">Free snacks, so you’re high on energy and an endless supply of chai &amp; coffee!</p>
              </div>
              <div class="text-center">
                <div style="height:20px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/learn-hustle.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Learn to Hustle</h3>
                <p class="dark-gray">You'll take your work to the next level, become a game-changer and get shit done</p>
              </div>
              <div style="margin-left:50px;" class="text-center ">
                <div style="height:20px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/exponential-growth.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Exponential Growth</h3>
                <p class="dark-gray">Create something super exciting, and be a part of our supersonic growth story</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/fun-times.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Fun Times</h3>
                <p class="dark-gray">Post work chilling and office parties, cuz we encourage a healthy work-life balance</p>
              </div>
              <div style="height:370px;padding-top:120px;font-weight:bold;font-size:300%;" class="dark-gray text-center"> Why Work
                <br>With Us
              </div>
              <div class="text-center">
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/change-world.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Change the World</h3>
                <p class="dark-gray">One bad haircut at a time</p>
              </div>
            </div>
            <div class="col-md-4">
              <div style="margin-right:50px;" class="text-center ">
                <div style="height:60px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/free-grooming.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Free Grooming</h3>
                <p class="dark-gray">Complimentary Salon &amp; Spa services for everyone, cuz you gotta look, feel, and be fab</p>
              </div>
              <div class="text-center">
                <div style="height:20px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/salary-perks.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Competitive Salary &amp; Incentives</h3>
                <p class="dark-gray">Your perks and pockets are as important to us too, you know</p>
              </div>
              <div style="margin-right:50px;" class="text-center ">
                <div style="height:20px;">&nbsp;</div>
                <p><img width="85" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/young-passionate.png"></p>
                <h3 class="dark-gray fs110 mb5 mt0">Young &amp; Passionate Team</h3>
                <p class="dark-gray">Work with go-getters and talented people who love what they do</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p>&nbsp;</p>
  <section class="show-only-mobile">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div style="font-weight:bold; font-size:200%;" class="text-center "> Why Work With Us
          </div>
          <div class="text-center ">
            <p><img width="100" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/stocked-pantry.png"></p>
            <h3>Stocked Pantry</h3>
            <p>Free snacks, so you’re high on energy and an endless supply of chai &amp; coffee!</p>
          </div>
          <div class="text-center">
            <p><img width="100" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/learn-hustle.png"></p>
            <h3>Learn to Hustle</h3>
            <p>You'll take your work to the next level, become a game-changer and get shit done</p>
          </div>
          <div class="text-center ">
            <p><img width="115" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/exponential-growth.png"></p>
            <h3>Exponential Growth</h3>
            <p>Create something super exciting, and be a part of our supersonic growth story</p>
          </div>
          <div class="text-center">
            <p><img width="115" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/fun-times.png"></p>
            <h3>Fun Times</h3>
            <p>Post work chilling and office parties, cuz we encourage a healthy work-life balance</p>
          </div>
          <div class="text-center">
            <p><img width="132" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/salary-perks.png"></p>
            <h3>Competitive Salary &amp; Killer Incentives</h3>
            <p>Your perks and pockets are as important to us too, you know</p>
          </div>
          <div class="text-center">
            <p><img width="100" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/free-grooming.png"></p>
            <h3>Free Grooming</h3>
            <p>Complimentary Salon &amp; Spa services for everyone, cuz you gotta look, feel, and be fab</p>
          </div>
          <div class="text-center">
            <p><img width="120" src="https://s3.amazonaws.com/mazkaracdn/assets/culture/no-text/change-world.png"></p>
            <h3>Change the World</h3>
            <p>One bad haircut at a time</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style type="text/css">
      #jobs-tab-list.nav-tabs &gt;
      li &gt;
      a {
          border: 0px;
      }
      
      #jobs-tab-list.nav-tabs &gt;
      li.active &gt;
      a,
      #jobs-tab-list.nav-tabs &gt;
      li.active &gt;
      a:focus,
      #jobs-tab-list.nav-tabs &gt;
      li.active &gt;
      a:hover {
          -moz-border-bottom-colors: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          background-color: #eee;
          border-color: transparent;
          border-image: none;
          border-style: none;
          border-width: 0px;
          color: #555;
          cursor: default;
      }
  </style>
  <div class="container pb15" ng-controller="JobsController as JobsCtrl">
    <div class="row">
      <div class="col-md-10 bg-white col-md-offset-1">
        <p>&nbsp;</p>
        <h1 class="text-center notransform">Openings</h1>
        <p>&nbsp;</p>
        <div class="row">
          <div class="col-md-3 ">
            <div role="tabpanel ba">
              <h3>City </h3>
              <ul role="tablist" class="mt10 bb0 nav nav-tabs nav-stacked" id="jobs-tab-list">
                <li ng-repeat="city in JobsCtrl.cities" class="bb0 no-border-radius fs125" role="presentation">
                  <a data-toggle="tab" ng-click="'JobsCtrl.selectedCity = $index'" role="tab" aria-controls="jobs-for-{{$index}}" href="#jobs-for-{{$index}}" class="bb0 no-border-radius dark-gray"> 
                    {{city}}
                    <span class="pull-right">
                      <i class="fa fa-chevron-circle-right"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div style="min-height: 275px" class="col-md-8 bl">
            <div role="tabpanel">
              <div class="tab-content">
                <div ng-show="JobsCtrl.selectedCity==$parent.$index" ng-repeat="city in JobsCtrl.cities" id="jobs-for-{{$index}}" class="tab-pane active pb5" role="tabpanel">
                  <h3>Positions in {{ city }} </h3>
                  <table class="table">
                    <tbody>
                      <tr class="b0" ng-repeat="job in JobsCtrl.jobs" ng-show="$parent.$index == job.location">
                        <td class="b0 dark-gray">
                          <a href="/jobs/{{ job.id }}" class="turquoise-on-hover">
                            <span class="fs125 ">{{ job.title }}</span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
  <script type="text/javascript">
      $(function() {
          $(function() {
              $('[data-toggle=popover]').popover({
                  trigger: 'hover',
                  placement: 'left'
              });
          })
      })
  </script>
</div>