<div style="background:url({{venuesCtrl.getCurrentVenueCoverPhoto()}}) no-repeat top center rgba(200, 82, 126, 0);" class="cover-parallax-mobile show-only-mobile container p0 text-center p0"></div>
<div style="z-index:7" class="overlap-parallax-mobile text-center container p0 overlap-transparent show-only-mobile"></div>
