<div  class="hide-only-mobile clearfix ">
  <div class="">
    <a title="{{ post.title }}" href="{{ post.url }}" class="relative dpb " >
      <div style="background-image:url({{ post.cover_image }});background-size:cover" width="100%" class="ba dpb h144"></div>
      <div class="tpos0 absolute overlap-transparent-3x dpb va-container-v va-container-h ">
      </div>
    </a>
  </div>

  <div class="ba bg-white pr10 pt5 pb5 pl10 ">
      <div class="ovf-hidden  h85 mb5">
        <h5 class="fw900 media-heading mb0 notransform mt0 " >
        <a title="{{ post.title }} " style="" href="/" class="h24 w100pc nowrap ovf-hidden  dpb dark-gray fs80 ovf-hidden dpib  ">
          <span class="fs110  ">{{ post.title }}</span>
        </a>
      </h5>
      <p class="medium-gray  pb0">{{ post.caption }}</p>
    </div>
    <div class="" >

      <div class="pt0">
        <div class=" ">
          <div class="fs90">
            <div class="pull-left">
              <span class="fs125">
                <i class=" flaticon flaticon-eye110  gray"></i>
              </span>&nbsp;{{ post.views }}&nbsp;Views
            </div>
            <div class="pull-right">
              <span class="fs125">
                <i class="fa fa-thumbs-up lite-blue"></i>
              </span>&nbsp;{{ post.number_of_likes }}&nbsp;Likes
            </div>
        </div>

          <div class="clearfix"></div>
        </div>
      </div>

    </div>

    
  </div>
</div>
