<div id="full-screen-overlay"></div>
<nav ng-controller="IndexController as indexCtrl" id="footer" class="container mt0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
        <div class="text-left  fnav">
          <nav id="footer  " style="padding-top:0px">
            <a target="_self" href="/" class="dpb hover-color-turquoise p5 pt0 page-scroll">HOME</a>
            <a target="_self" href="/about" class="dpb hover-color-turquoise p5 pt0 page-scroll">ABOUT US</a>
            <a target="_self" href="http://blog.fabogo.com" class="dpb hidden hover-color-turquoise p5 pt0 page-scroll ">BLOG</a>
            <a target="_self" href="/jobs" class="page-scroll hover-color-turquoise p5 pt0 dpb">WE'RE HIRING!</a>
            <a target="_self" href="/add-your-business" class="dpb hover-color-turquoise p5 pt0 page-scroll ">ADD YOUR BUSINESS</a>
            <a target="_self" href="/contact" class="page-scroll hover-color-turquoise p5 pt0 dpb">CONTACT US</a>

          </nav>
        </div>
      </div>
      <div class="col-md-6 ">
        <!-- city select comes here -->

        <a target="_self" href="/tos" class="page-scroll dpb hover-color-turquoise p5 pt0">TERMS OF SERVICE</a>
        <a target="_self" href="/privacy-policy" class="page-scroll hover-color-turquoise p5 pt0 dpb">PRIVACY POLICY</a>
        <a target="_self" href="/cookie-policy" class="page-scroll hover-color-turquoise p5 pt0 dpb">COOKIE POLICY</a>
        <a target="_self" href="/faq" class="page-scroll hover-color-turquoise p5 pt0 dpb">FAQs</a>
        <a target="_self" href="/dubai/directory" class="page-scroll dpb hover-color-turquoise p5 pt0 uppercase">Dubai Directory</a>
        <a target="_self" href="/pune/directory" class="page-scroll dpb hover-color-turquoise p5 pt0 uppercase">Pune DIrectory</a>

      </div>
    </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-right">
            <p>
              <a target="_blank" href="https://itunes.apple.com/us/app/id1086643190">
                <img height="50" src="{{ indexCtrl.assets_url('assets/home/apple-store.png')}}" />
              </a>
              &nbsp;&nbsp;
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mazkara.user">
                <img height="50" src="{{ indexCtrl.assets_url('assets/home/google-store.png')}}" />
              </a>
            </p>
            <div id="tf-menu" class="mb10 pb10 pr0" style="padding-right:0px;" >
              <a class="navbar-brand" style="background-position:right;" href="/"></a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <div class="bb pb10 mb10 mt10 pt10"></div>
          <ul class="footer-social mt10 pt10">
            <li><a target="_blank" href="https://www.facebook.com/gofabogo"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/gofabogo"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://instagram.com/gofabogo"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/fabogo?"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" rel="publisher" href="https://plus.google.com/+Fabogo"><i class="fa fa-google-plus"></i></a></li>
          </ul>

          <div class="p10 m10">
            <small>&copy; MAZKARA FZ. LLC. </small>
          </div>



        </div>
      </div>
    </div>
  </div>
</nav>
