  <nav id="tf-menu" class="navbar mb0 container  navbar-default no-radius on" >
    <div id="top-main-logo-container" >
      <div class="container">
        <a class="pull-left ml10 mt10 mb10" href="/">
         <img src="https://s3.amazonaws.com/mazkaracdn/assets/fabogo-logo.svg" />
        </a>
        <!--top menu links go here -->
        <div ng-include src="'/app/templates/elements/top-mobile-links.html'"></div>
        <!-- top menu links ^ -->
        <!-- dashboard link for clients goes here -->
        <!-- menu goes here -->
        <div ng-include src="'/app/templates/elements/user-menu.html'"></div>
      </div>
    </div>
    <div ng-app="navigationApp"  id="top-main-menu-container" >
    <div class=" relative">
      <div class="collapse pl0 pr0 navbar-collapse" id="bs-main-navbar-collapse-1">
        <div ng-include src="'/app/templates/elements/navigation-menu.html'"></div>
      </div>
    </div>

  </div><!-- /.container-fluid -->
</nav>
