<ul ng-controller="NavigationController as NavigationCtrl" class="nav navbar-nav yamm  navbar-secondary">
<li class="dropdown yamm-fw parent" style="" 
    ng-repeat="parent_service in NavigationCtrl.menu">
  <a class="dropdown-toggle main-menu-btn fw900 text-center" data-animations="fadeInDown" data-toggle="dropdown"  href="javascript:void(0)">
  {{ parent_service.name | uppercase  }}
  </a>
  <ul class="dropdown-menu bg-lite-gray" role="menu" style="min-height: 308px">
    <li class="container">
      <div class="yamm-content">
        <div class=""> 
          <div class="row"> 
            <div class="col-sm-2 hide-only-mobile">
              <img class="ba" style="position: absolute;top:-20px;height:296px;left:-25px;" 
                  alt="{{ parent_service.slug }}" src="{{ NavigationCtrl.header_images('menu-'+parent_service.slug) }}"  />
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-md-4" ng-repeat="group in parent_service.children">
                  <ul class="list-unstyled">
                    <li ng-repeat="child in group">
                      <a class="fw900  m5 p5 btn no-border-radius fs80" href="/{{ NavigationCtrl.getCurrentCitySlug() }}/{{ NavigationCtrl.getCurrentCategorySlug() }}s/{{ child.slug }}s" >
                        {{ child.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
<li class="yamm-fw dropdown no-border parent">
  <a class="  fire main-menu-btn fw900 "  href="">
    FAB FINDS
  </a>
</li>
<li class="yamm-fw no-border dropdown parent">
  <a class="   main-menu-btn fw900  turquoise-on-hover"  href="/stories">
    STORIES
  </a>
</li>
</ul>