<div class="row">
  <div class="col-md-12">
    <div style="width:100%;" role="navigation" id="top-navbar-search-form" class="form-inline navbar-form navbar-left collapse navbar-collapse pl0">
      <div style="padding-right:40px;width:100%;" class=" ">
        <div class="inner-addon left-addon relative" id="search-box-holder">
          <label rel="tooltip " style="font-size:14px;padding:13px 10px;" class="glyphicon glyphicon-search "></label>
          <input type="text" value="Queens Beauty Lounge" name="search" placeholder="Search for salon, spa or a service" data-placement="bottom" data-content="Hey! Tell us what you're looking for." style="line-height:1.7;height:auto;border-right:1px solid #EFEFEF !important;font-size:14px;" id="search-selector" class="p10 no-border-size no-box-shadow border-radius-5-mobile border-left-radius-5 no-border-radius pointer-cursor pr15 pl15 form-control selectable ui-autocomplete-input" autocomplete="off" />
          <div class="search-box-preloader bt0 border-bottom-radius-5" style="width:100%;z-index:9999;text-align:center;height:80px;background-color:#fff;top:44px;position:absolute;border: 1px solid #ccc; padding-top:30px;z-index:998;display:none;">
            <b>Coming right up!</b>
            <img src="https://s3.amazonaws.com/mazkaracdn/assets/indicator.gif" />
          </div>
        </div>
        <div style="width:30%;" class="inner-addon left-addon" id="search-location-holder">
          <label rel="tooltip " style="font-size:14px;padding:13px 10px; ;" class="glyphicon glyphicon-map-marker "></label>
          <input type="text" value="Dubai Marina" name=" " placeholder="Please Type a Location" style="height:auto;font-size:14px; vertical-align: middle;float:none;line-height:1.7;" id="location-selector" class="form-control no-box-shadow no-border-size no-border-radius border-radius-5-mobile pointer-cursor selectable pr15 pl15 p10  ui-autocomplete-input" autocomplete="off" />
        </div>
        <div style="display:inline-block;" class="input-group-btn">
          <button class="btn border-radius-5-mobile no-border-radius border-right-radius-5 btn-turquoise" type="submit" style="margin-left: 0px; min-width: 120px; line-height: 1.7; height: auto; font-size: 14px; padding-top: 10px; padding-bottom: 8px; font-weight: 800;" id="search-bar-button"> SEARCH</button>
        </div>
      </div>
    </div>
    <form method="POST" action="/search/businesses" class="hidden navbar-left navbar-form" id="search-bar-form">
      <input type="hidden" value="50" name="zone[]" id="location-selector-name" class="form-control selectable" />
      <input type="hidden" value="Queens Beauty Lounge" name="search" id="search-selector-name" class="" />
      <input type="hidden" value="" name="category[]" id="location-selector-category" class="form-control selectable" />
      <input type="hidden" value="" name="service[]" id="location-selector-service" class="form-control selectable" />
    </form>
  </div>
</div>
