<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
  <ul class="nav  navbar-nav navbar-right">
    <li >
      <span class="show-only-mobile">
      <a href="#download-app" style="margin-top:15px;" class="btn hidden show-only-mobile lnk-download-app btn-turquoise btn-sm pull-right mr5  btn dpib show-only-mobile btn-default ">
        <b>Download App</b>
      </a>
    </span>
    </li>
    <li class="mt15">
      <a class="page-scroll fw900 uppercase dark-gray facebook-login-link"
         target="_self" style="font-size:13px;" 
         href="/users/facebook/login">Login with Facebook</a>
    </li>
    <li class="mt15">
      <span style="display:none;">
        <img src="https://s3.amazonaws.com/mazkaracdn/assets/bg-login-screen.jpg"/>
      </span>
      <a target="_self" href="/users/create" id="ajax-login-link" 
         style="font-size:13px;padding-right:0px;" 
         class="page-scroll uppercase fw900  ajax-popup-link ml10 mr15">
        Login
      </a>
    </li>
    <!-- main menu ends here -->
  </ul>
</div><!-- /.navbar-collapse -->
