<form class="form-horizontal" ng-controller="ReviewsController as reviewsCtrl" id="form-manage-review" accept-charset="UTF-8" action="http://v2.mazkara.local/reviews" method="POST">
  <input type="hidden" value="7rNW0gDHKhHJ34JuSB0DGFzOd9Zh0VwXIBLd71kT" name="_token"><div class=" ">
  <h4 class="item-headers pt0 mt0 hide-only-mobile"> Write a review for Queens Beauty Lounge</h4>
  <div class="fs75 fw900 gray">YOUR RATING</div>
  <div class="text-center form-group">
    <label style="display:none" class="col-md-2 control-label " for="rating">Rating:</label>
    <div class="col-sm-12 rating-a" elem-ready="venuesCtrl.setupReviewWidget()">
      <div class="br-wrapper br-theme-bars-pill">
        <select name="rating" style="width: 150px; display: none;" id="rating" class="form-control ">
          <option value=""></option>
          <option value="1.0">1.0</option>
          <option value="2.0">2.0</option>
          <option value="3.0">3.0</option>
          <option value="4.0">4.0</option>
          <option value="5.0">5.0</option>
        </select>
      </div>
      <span ref="rating" class="pointer-cursor dpib pull-left pl15 fs110 pt5 gray review-clear-rating ">
        <i class=" fa fa-times"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <select class="form-control selectized" id="service_ids" data-live-search="true" data-max-option="3" title="Tag up to 3 services" multiple="multiple" placeholder="Tag up to 3 services" name="services[]" tabindex="-1" style="display: none;">
      </select>
    </div>
  </div>
  <div class="form-group mb0">
    <div class="col-sm-12">
      <textarea rows="10" cols="50" name="body" ng-model="reviewsCtrl.review.body" placeholder="Had an interesting experience? Write a review for other users!" id="text-review-body" class="mb10 form-control"></textarea>
      <div class="pl0">Review Length: 
        <span class="text-count">{{ reviewsCtrl.review.body.length }}</span>
      </div>
    </div>
  </div>
  <input type="hidden" value="1114" name="business_id">
  <div class="">
    <a class="btn text-center submit-btn submit-review-button pull-right m10 btn-turquoise" href="javascript:void(0)" id="submit-review-button">POST REVIEW</a>
    <a class="pull-left lnk-close-review-form pt5" href="javascript:void(0)">Cancel</a>
  </div>
  <div class="clearfix"></div>
</div>
</form>
