<div class="pull-right"></div>
<div class="mb5">
  <div class="media pb5 mt5 ">
    <div class="pull-right"></div>
    <div class="media-left">
      <a href="/users/2099/profile">
        <div style="background-image: url(http://s3.amazonaws.com/mazkaracdn/images/30153/micro/fb_image_10154019229815921.jpeg);background-repeat: no-repeat;background-position: 50%;border-radius: 50%;width:40px; height:40px; padding-top:6px;"></div>
      </a>
    </div>
    <div class="media-body text-left">
      <b class="media-heading pt5">
        <a class="color-black result-title" href="" title="{{ review.user.name }}"><span><span>{{ review.user.name }}</span></span></a>
      </b>
      <small class="medium-gray"> &nbsp;&nbsp;<i>Posted {{ review.created_at}}</i></small><br>
      <small ng-show="review.user.reviews_count > 0" class=" ">{{ review.user.reviews_count }} Reviews</small>
    </div>
  </div>
</div>
<div>
  <div class="pb5">
    <b>
      <span class="dpib">
        <span class="dpib">RATED:</span>
        &nbsp;&nbsp;
        <span style="padding:0px 3px;font-size:11px;color:#000;" class="border-radius-5 dpib rating-{{ review.rating | number : 0 }} bold-font force-white " title="Rated {{ review.rating | number : 1 }} stars">
          <div><b>{{ review.rating | number : 1 }}</b></div>
        </span>
      </span>
      <span ng-show="{{ review.services.length > 0 }}">
       for <span ng-repeat="service in review.services" class="fs90 dpib p5 pt0 pb0 turquoise baturquoise border-radius-10 mr5 mb5">{{ service.name}}</span>
      </span>
    </b>
  </div>
  <div>{{ review.body }}</div>
</div>
<div class="mt10 pt10 fs90"></div>
