<div ng-show="venuesCtrl.getCurrentVenueAttr('description') != '' ">
  <div class="row ">
    <div class="col-md-12">
      <div class="pb15 ">
        <h2 class="item-headers ">ABOUT</h2>
        <span>{{ venuesCtrl.getCurrentVenueAttr('description') }}
        </span>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class=" "></div>
    </div>
  </div>
</div>
