<div class=" hide-only-mobile">
  <div class="container bg-lite-gray ">
    <div class="row">
      <div class="col-md-3 ">
        <div class=" p10 text-center ">
          <p class="show-only-mobile mt20 mb20 ">&nbsp;</p>
          <span class="hoverable">
            <div data-business="{{ venuesCtrl.getCurrentVenueAttr('id') }}" class="hide-on-hover pt10 pb10 mt10 btn btn-turquoise desktop btn-lg call-button"> PHONE NUMBER</div>
            <div class="show-on-hover">
              <p class="fs125 ">
                <span class="fa-stack hidden fa">
                  <i class="fa fa-circle fa-stack-2x fw300 fs150 green"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fs110 lato fw900">{{ venuesCtrl.getCurrentVenueAttr('phones').join(',') }}</span>
              </p>
              <p class="text-success">Prior bookings are recommended</p>
            </div>
          </span>
        </div>
      </div>
      <div class="col-md-9 ">
        <div class="p10 va-middle ">
          <ul class="list-unstyled medium-gray mt5 list-inline">
            <li class="mr15 pr15" ng-repeat="highlight in venuesCtrl.getCurrentVenueAttr('highlights')">
              <div class="text-center">
                <div>
                  <i class="fs220 {{ venuesCtrl.getHighlightCssClass(highlight.slug) }}"></i>
                </div>
                <span class="italic serif">{{ highlight.name }}</span>
              </div>
            </li>
            <li class="mr15 pr15" ng-show="venuesCtrl.getCurrentVenueAttr('cost_estimate') > 0">
              <div class="text-center ">
                <div >
                  <i class=" fs220 {{ venuesCtrl.prices_names[venuesCtrl.getCurrentVenueAttr('cost_estimate')] }}"></i>
                </div>
                <div class="italic serif">{{ venuesCtrl.prices_names[venuesCtrl.getCurrentVenueAttr('cost_estimate')] }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
