<div class=" bg-lite-gray -3 text-left">
  <div class="item-map-holder ">
    <div style="height: 250px; position: relative; overflow: hidden;" class=" item-map mr10 bbb" id="item-map">
    </div>
  </div>
  <p class="p10">
    <b>{{ venuesCtrl.getCurrentVenueAttr('zone_cache') }}</b> › 
    <span>{{ venuesCtrl.getCurrentVenueAttr('landmark') }}</span>
  </p>
</div>
