<div elem-ready="venuesCtrl.setupGalleries()" class=" pt10 "  ng-show="venuesCtrl.currentVenueRateCards.length > 0">
  <h2 class="item-headers ">MENU</h2>
  <div class="rate-card-holder">
    <a ng-repeat="rateCard in venuesCtrl.currentVenueRateCards" ng-class="{ 'hide': $index >= 4 }" style="display:inline-block" class=" ba border-radius-5 mr5 image" href="{{ rateCard.photo }}">
      <img class="venue-thumbnail border-radius-5 op85-on-hover rate-card-image" alt="{{ venuesCtrl.getCurrentVenueAttr('description') }} + Rate Card " data-sequence="1" src="{{ rateCard.thumbnail }}">
    </a>
    <a href="{{ venuesCtrl.currentVenueRateCards[0].photo }}" class="fs150 border-radius-5 trigger-gallery-open ba sq-card mb0 fw300 btn btn-default p0 bg-lite-gray venue-thumbnail image" style="background-image:url({{ venuesCtrl.currentVenueRateCards[0].thumbnail }});display:inline-block; vertical-align:middle; text-align:center">
      <div class="va-container va-container-v va-container-h overlap-transparent">
        <div style="z-index:999;" class="va-middle text-center force-white"> +{{ venuesCtrl.currentVenueRateCards.length - 4 }}</div>
      </div>
    </a>
  </div>
</div>