<div style="background:url({{venuesCtrl.getCurrentVenueCoverPhoto()}}) no-repeat center center rgba(200, 82, 126, 0); background-size:100%;" class="cover-parallax hide-only-mobile container p0 text-center p0"></div>
<div style="" class="overlap-parallax text-center container p0 overlap-transparent hide-only-mobile"></div>