<div elem-ready="venuesCtrl.setupGalleries()"  ng-show="venuesCtrl.currentVenuePhotos.length > 0" class=" ">
  <h2 class="item-headers">PHOTOS</h2>
  <div class="photos-holder">
    <a ng-repeat="photo in venuesCtrl.currentVenuePhotos" ng-class="{ 'hide': $index >= 4 }" style="display:inline-block" class="image ba mr5 border-radius-5 " href="{{ photo.photo }}">
      <img class="venue-thumbnail border-radius-5 op85-on-hover" alt="{{ venuesCtrl.getCurrentVenueAttr('description') }} + Photo " data-sequence="1" src="{{ photo.thumbnail }}">
    </a>
    <a href="{{ venuesCtrl.currentVenuePhotos[0].photo }}" class="fs150 trigger-gallery-open sq-card border-radius-5 mb0 ba fw300 image btn btn-default p0 bg-lite-gray venue-thumbnail " style="background-image:url( {{ venuesCtrl.currentVenuePhotos[0].thumbnail }});display:inline-block; vertical-align:middle; text-align:center">
      <div class="va-container va-container-v va-container-h overlap-transparent">
        <div style="z-index:999;" class="va-middle text-center force-white"> +{{ venuesCtrl.currentVenuePhotos.length - 4 }} </div>
      </div>
    </a>
  </div>
</div>