<div class="  " >
  <h2 class="item-headers pt5 hide-only-mobile">
    REVIEWS
    <span ng-show="venuesCtrl.currentVenueReviews.length > 0" class="gray">
      ({{ venuesCtrl.currentVenueReviews.length }})
    </span>
  </h2>
  <h2 class="item-headers pt5 show-only-mobile p15 pb0">
    REVIEWS
    <span ng-show="venuesCtrl.currentVenueReviews.length > 0" class="gray">
      ({{ venuesCtrl.currentVenueReviews.length }})
    </span>
  </h2>
  <a id="reviews"></a>
  <div class="well p10">
    <div class="toggl-review-form pointer-cursor h100 dark-gray p5">
      <p>Tip: A great review covers service, experience and ambience. Got recommendations for your favourite service? Include that too! And remember, your review needs to be at least 140 characters long :)</p>
    </div>
    <div style="display:none" id="basic-review-form">
      <div ng-include src="'/app/templates/reviews/partials/form.html'"></div>
    </div>
  </div>
  <div class="show-only-mobile p15 pt0 pb0">
    <a href="javascript:void(0)" class=" btn mb10 show-only-mobile border-radius-5 lnk-run-on-app btn-turquoise w100pc p5 mt10 ">
      <i class="fa fa-pencil fs125"></i> &nbsp;
      <span class="fs150 bolder">WRITE REVIEW</span>
    </a>
  </div>
  <div class="reviews-holder">
    <div ng-repeat="review in venuesCtrl.currentVenueReviews" class="media reviews-bg-mobile pt5 pb10 mb10 mt0 bb">
      <div ng-include src="'/app/templates/reviews/partials/single.html'"></div>
    </div>
  </div>
</div>
