<div ng-show="venuesCtrl.currentVenueServices.length > 0" class=" ">
  <div class="service-container">
    <h2 class="item-headers">SERVICES</h2>
    <div ng-repeat="services in venuesCtrl.currentVenueServices">
      <div class="p5 service-object bg-lite-gray" style="">
        <b>{{ services.parent }}</b>
      </div>
      <div ng-repeat="service in services.services" class="bb service-object p5" style=" ">
        {{ service.name }} 
        <div class="pull-right">{{ service.cost }}</div>
      </div>
    </div>
  </div>
</div>
