<div class="pt10 pb10 text-center p10 bg-lite-gray -3" ng-show="venuesCtrl.currentVenueTimings.length > 0">
  <div class="dpb pb10"></div>
  <table align="center" class="table text-center mr10">
    <tbody>
      <tr ng-repeat="timing in venuesCtrl.currentVenueTimings ">
        <th class="bt0 pt0 pl0">{{ timing.day}}</th>
        <td class="bt0 pt0 text-left">
          <span ng-show="timing.timings.length > 0"><b>CLOSED</b></span>
          <span ng-repeat="one_timing in timing.timings"> 
            {{ one_timing.open }} - {{ one_timing.close }} <br>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <span class="label hidden label-success">
    Timings may change during the Holy month of Ramadan
  </span>
</div>
