<ul class="breadcrumbs breadcrumb">
  <li >
    <a href="/">Home</a>
  </li>
  <li ng-repeat="breadcrumb in venuesCtrl.breadcrumbs">
    <span class="divider">›</span>
    <a href="{{ breadcrumb.url }}" class="pr0 pl5">{{ breadcrumb.label }}</a>
  </li>
</ul>
