<div style="z-index:90" class="overlap-parallax-content show-only-mobile relative">
  <span style="position:absolute;top:7px;right:0px;">
    <a rel="1114" data-route="businesses" class="fs200 lnk-run-on-app favourite " title="Favorite {{ venuesCtrl.getCurrentVenueAttr('name') }}" href="javascript:void(0)">
      <i class="fa fa-heart hide-when-unfavorite"></i>
      <i style="color:#fff;" class="fa fa-heart-o hide-when-favorite"></i>
    </a>
  </span>
  <div style="bottom:25px;" class="w100pc absolute ">
    <div class="mt0 ">&nbsp;</div>
    <div class="row">
      <div class="col-xs-9">
        <h1 style="z-index:99;" class=" item-name b0 mt5 mb5 pb5 fs220 fw300 bbw no-border">
          <a title="{{ venuesCtrl.getCurrentVenueAttr('name') }}" href="http://v2.mazkara.local/dubai/queens-beauty-lounge-dubai-marina">
            <span class=" fs110 fw500 force-white dpib mb5">
              <b>{{ venuesCtrl.getCurrentVenueAttr('name') }}</b>
            </span>
            <div class="fs75">
              <div class="force-white pt3 fs75">
                {{ venuesCtrl.getCurrentVenueAttr('zone_cache') }}
              </div>
            </div>
          </a>
        </h1>
      </div>
      <div class="col-xs-3 small-force-white text-center pt15 ">
        <!-- rating niblet start -->
        <span style="padding:1px 5px;font-size:15px;" class="border-radius-3 dpib rating-4 bold-font force-white " title="Rated 3.9 stars">
          <div>
            <b>{{ venuesCtrl.getCurrentVenueAttr('rating_average') | number : 1 }}</b>
          </div>
        </span>
        <!-- rating niblet end -->
        <!-- votes niblet start -->
        <div style="margin-top:0px;" class="text-center">
          <small class="medium-gray fs75">
            <b>{{ venuesCtrl.getCurrentVenueAttr('reviews_count') + venuesCtrl.getCurrentVenueAttr('total_ratings_count') }}&nbsp;votes</b>
          </small>
        </div>
        <!-- votes niblet end -->
      </div>
    </div>
  </div>
</div>
