<div class=" single-business-element mb10  ">
  <article class=" clearfix hide-only-mobile relative" style="padding:0px;">
    <div  class="relative border-radius-3 ba bg-white clearfix">
      <div class="pull-left pr10 relative">
        <span style="position:absolute;top:7px;left:10px;">
          <a ng-show="{{venue.user_is_favourited==true}}" href="javascript:void(0)" style="font-size:20px;" title="Favorite {{ venue.name }}" class="favourite" data-route="businesses" rel="{{venue.id}}">
            <i class="fa fa-heart hide-when-unfavorite"></i> 
            <i class="fa fa-heart-o hide-when-favorite" style="color:#fff;"></i> 
          </a>
          <a ng-show="{{venue.user_is_favourited==false}}" href="/users/login" style="font-size:20px;" title="Favorite {{ venue.name }}" class="page-scroll ajax-popup-link" data-route="businesses" rel="{{venue.id}}">
            <i class="fa fa-heart-o " style="color:#fff;"></i> 
          </a>
        </span>
        <a title="{{ venue.name }}" href="{{ venuesCtrl.slugSingle(venue)}}" class="border-left-radius-3 link-single-venue " >
          <img src="{{ venue.mediumCoverImageURL}}" style="width:250px; " />
        </a>
      </div>
      <div class="">
        <div class="pos-relative p10" >
          <div class="pull-right search-item-rating dpib text-right ">
            <!-- stars go here -->
            <div class="pull-right search-item-rating dpib text-right ">
              <span ng-show="venue.averageRating > 0" style="padding:1px 5px;font-size:15px;" class="border-radius-3 dpib rating-5 bold-font force-white " title="Rated {{ venue.averageRating }} stars">
                <div><b>{{ venue.averageRating | number : 1 }}</b></div>
              </span>
              <span ng-show="venue.averageRating == 0" style="padding:2px 8px;font-size:16px;" class="border-radius-3 dpib bg-medium-gray force-white" title="Not enough votes">
                <b>&nbsp;-&nbsp;</b>
              </span>
              <div style="margin-top:0px;" class="text-center">
                <small class="medium-gray fs75"><b>{{venue.totalNumberOfVotes}}&nbsp;votes</b></small>
              </div>
            </div>
          </div>
          <h3 class="search-item-name fw700 ovf-hidden mb0" style="margin-top:0px;">
            <a target="_self" title="{{ venue.name }}"  href="{{ venuesCtrl.mzk_single_slug(venue) }}" class="link-single-venue w100pc ovf-hidden dpib hover-underline result-title">
              {{ venue.name }}
            </a>
          </h3>
          <div class="mt2 mb2">
          </div>
          <div class="mt2 pr15  single-listing-address">
            <span class="color-black pl1 fw900"><i class="fa fa-map-marker  "></i>
            {{ venue.cityName }}</span> 
<span class="search-item-address dark-gray" title="{{ venue.address }}">› {{ venue.address }}</span>

            <!-- address -->
          </div>


<div class="mt10 mb2 ">
  <div class="pull-left dark-gray">
    <ul class="list-unstyled p0 m0 list-inline">
      <li class="p0 mb5" ng-repeat="highlight in venue.highlightArray">
        <div class="text-center dark-gray">
          <div class="dpib">
            <i class=" dark-gray fs125 {{ venuesCtrl.getHighlightCssClass(highlight.slug) }}"></i>
          </div>
          <div class="fs75 dark-gray">{{ highlight.name }}</div>
        </div>
      </li>
      <li class="p0 mb5" ng-show="venue.costEstimate > 0">
        <div class="text-center dark-gray">
          <div class="dpib">
            <i class=" dark-gray fs125 highlights highlights-{{ venuesCtrl.prices_names[venue.costEstimate] }}"></i>
          </div>
          <div class="fs75 dark-gray text-capitalize">{{ venuesCtrl.prices_names[venue.costEstimate] }}</div>
        </div>


      </li>
    </ul>
    <a target="_self" ng-show="venue.imageCount > 0" style="padding:3px;border:1px solid #444444;color:#444444;width:70px;" href="{{ venuesCtrl.mzk_single_slug_photos(venue) }}"  class="btn-xs hover-color-gray hover-border-gray dark-gray border-radius-3 fs75 mb5 btn text-center " href="#"> {{ venue.imageCount }} PHOTO(S)</a>
    <br>
    <a target="_self" ng-show="venue.rateCardCount > 0" style="padding:3px;border:1px solid #444444;width:70px;color:#444444;" href="{{ venuesCtrl.mzk_single_slug_rate_cards(venue) }}" class="btn-xs dark-gray hover-color-gray hover-border-gray fs75 btn text-center border-radius-3 " href="#"> VIEW MENU</a>
  </div>
</div>

          <!-- highlights go here -->
        </div>
        <!-- offers go here -->
        
      </div>
      <!-- starting prices go here -->

            <div ng-repeat="serviceSelected in venue.servicesSelected" class="absolute b10 r10 text-right">
              <div class="" ng-show="serviceSelected.startingPrice > 0">
                <span class="dpb p5 fs90 bg-lite-gray mb5">
                  {{ serviceSelected.name }}
                  - {{ venue.currency }} {{ serviceSelected.startingPrice }}
                </span>

              </div>

            </div>



    </div>
        <!-- offers go here -->


    <div ng-show="venue.offerArray.length > 0" class=" clearfix " id="offers-for-{{venue.id}}">
      <table class="mb0 border-gray table">
        <tr ng-repeat="offer in venue.offerArray" class="">
          <td class=" bg-white color-black" style="border-top:3px solid #F1F1F1;">
          <div style="overflow:hidden;text-overflow:ellipsis;height:auto;display:inline-block;">  {{offer.title }}</div>
          </td>
          <td style="border-top:3px solid #F1F1F1;" width="10%" class="bg-white color-black">
              <span ng-show="offer.originalPrice > 0" style="text-decoration:line-through;" class="medium-gray">
                {{offer.currency}}&nbsp;{{offer.originalPrice }}
              </span>
          </td>
          <td style="border-top:3px solid #F1F1F1;" width="10%" class="text-right fw700 bg-white fire pr0"><b ng-show="offer.offerPrice > 0" >{{offer.currency}}&nbsp;{{offer.offerPrice }}</b></td>
        </tr>
      </table>
    </div>



  </article>
  <div class="  clearfix  show-only-mobile">


  </div>
</div>
