            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <span class="pull-left mr10">
                    <a href="http://v2.mazkara.local/dubai/manchester-clinic-medspa-jumeirah-3?fabtrack=rhs+venue-image">
                      <img width="60" height="60" class="" alt="{{ venue.name }} photo" meta="thumbnail" src="{{ venue.thumbnail }}"></a></span><h5 class="ovf-hidden search-item-name force-black media-heading mb0 notransform bolder "><a class="result-title fs80" href="http://v2.mazkara.local/dubai/manchester-clinic-medspa-jumeirah-3?fabtrack=rhs+venue-title" title="Manchester Clinic MedSpa">{{ venue.name }} </a></h5><div class="pull-right pr10"><a rel="{{ venue.id }}" data-route="businesses" class=" favourite " title="Shortlist {{ venue.name }}" style="font-size: 20px; display: inline-block; margin-top: -5px;" href="javascript:void(0)"><i class="fa fa-heart hide-when-unfavorite"></i><i class="fa fa-heart-o hide-when-favorite"></i></a></div><span class="search-item-address " title="{{ venue.zone_cache }}"> › {{ venue.zone_cache }}
</span><br><span style="padding:0px 6px;font-size:11px;" class="border-radius-5 dpib bg-medium-gray " title="Not enough votes"><b>&nbsp;-&nbsp;</b></span>
                </div>
              </div>
            </div>
