<div style="" class="overlap-parallax-content hide-only-mobile">
  <div class="row">
    <div class="col-md-12 p10 mt10 force-white"></div>
  </div>
  <div class="row">
    <div class="col-md-9 center-on-mobile">
      <div class=" force-white ">
        <div class="mt140 pt10 hide-only-mobile "></div>
        <div class="row">
          <div class="col-md-12">
            <div style="padding-right: 30px;" class="header pr0-mobile relative">
              <div class="hide-only-mobile h80 mt10"></div>
              <span class="hide-only-mobile">
                <div style="position: absolute;right:30px; bottom:0px" class="pull-right ">
                  <div class="p10 pt25 pr0 ml30 text-center ">
                    <span data-score="3.92" data-number="5" title="Rated 3.92 stars">
                      <div class=" pb0 dpib force-white">
                        <div style="font-weight:900;font-size:220%;line-height: 1;padding:8px 10px;color:#000;" class=" border-radius-15 dpib rating-4 bold-font force-white ">{{ venuesCtrl.getCurrentVenueAttr('rating_average') | number : 1 }}
                        </div>
                      </div>
                      <div style="font-size:90%;font-weight:900;" class="force-white dpb text-center search-item-rating-num-votes"><b>{{ venuesCtrl.getCurrentVenueAttr('reviews_count') + venuesCtrl.getCurrentVenueAttr('total_ratings_count') }} votes</b></div>
                    </span>
                  </div>
                </div>
              </span>
              <h1 class="item-name mb5 pb5 fs220 mt-30 fw300 bbw no-border-mobile">
                <a title="{{ venuesCtrl.getCurrentVenueAttr('name') }}" href="http://v2.mazkara.local/dubai/queens-beauty-lounge-dubai-marina">
                  <span class=" fs200 fw500 ">{{ venuesCtrl.getCurrentVenueAttr('name') }}</span>
                  <div class="pt3" style="font-size:18px;padding-bottom:3px;">{{ venuesCtrl.getCurrentVenueAttr('zone_cache') }}</div>
                  <div class="show-only-mobile p10 text-center">
                    <span style="padding:2px 6px;font-size:20px;color:#000;" class="border-radius-5 dpib rating-4 bold-font force-white " title="Rated 3.92 stars">
                      <div><b>{{ venuesCtrl.getCurrentVenueAttr('rating_average') | number : 1 }}</b></div>
                    </span>
                  </div>
                </a>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="center-on-mobile btns-ghosted mb10">
        <div class="row">
          <div class="col-md-12">
            <div class="mt5 mb5">
              <center>
                <a href="tel:{{ venuesCtrl.getCurrentVenueAttr('phones').join(',') }}" style="width:40%; " data-business="{{ venuesCtrl.getCurrentVenueAttr('id') }}" class="show-only-mobile btn btn-success btn mb10 call-button">Call Now</a>
              </center>
              <a data-route="businesses" rel="{{ venuesCtrl.getCurrentVenueAttr('id') }}" class="btn mr2 favourite btn-default" href="javascript:void(0)">
                <i class="fa fa-heart "></i>
              </a>
              <a class="btn mr2 review-btn page-scroll btn-default " title=" Review" href="#reviews">
                <i class="fa fa-pencil pr5"></i>
                <span class="hide-only-mobile">Write Review</span>
              </a>
              <a class="btn mr2 btn-default" title="Edit as Admin" href="/content/businesses/1114">
                <i class="fa fa-shield"></i>
              </a>
              <a title="Share on Facebook" data-sharableid="{{ venuesCtrl.getCurrentVenueAttr('id') }}" data-sharable="Business" class="sharable btn mr2 btn-default btn" href="javascript:void(0)">
                <span class="fa fa-share-square-o"></span>
                <span class="hide-only-mobile">Share</span>
              </a>
              <span class="btn-group mr2 hidden-mobile">
                <span class="btn btn-default "> Your Rating</span>
                <span style="min-height:34px;" class="btn btn-default pt5 pb0 pl10 pr15">
                  <div class="br-wrapper">
                    <select name="rate" elem-ready="venuesCtrl.setupRatingWidget()" rel="{{ venuesCtrl.getCurrentVenueAttr('id') }}" data-size="xs" data-score="0" id="raterupper" class="form-control hidden" style="display: none;">
                      <option value=""></option>
                      <option value="1.0">1.0</option>
                      <option value="2.0">2.0</option>
                      <option value="3.0">3.0</option>
                      <option value="4.0">4.0</option>
                      <option value="5.0">5.0</option>
                    </select>
                  </div>
                  <span ref="rating" class="pointer-cursor pl0 fs90 gray review-clear-rating-single ">
                    <i class=" fa fa-times"></i>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
