<small ng-class="{ 'hidden': (venuesCtrl.ads.length > 0) }">SPONSORED</small>
<p class="pb10 p0">&nbsp;</p>
<a target="_self" ng-repeat="ad in venuesCtrl.ads" href="{{ ad.url }}" class="no-underline single-native-ctrable" data-ad="{{ ad.id }}">
  <div class="hide-only-mobile mb10">
    <div class=" native-collectable border-top-radius-3 " style="border:1px solid #ddd;border-bottom:0px;height:142px;background-size:100%;background-position:center top;position:relative;background-repeat:no-repeat;background-image:url({{ad.imageURL}});">
      <div class=" native-collectable-content-holder" >
        <div class="yellow native-collectable-title" >
          <div class=" dpib" style="width:100%">
            <div ng-show="{{ ad.headLine != ''}}" class="force-white pull-right fs110">
              <b>{{ ad.headLine }}</b>
            </div>
            {{ ad.caption}}
          </div>
        </div>
      </div>
    </div>
    <div class="p5 border-bottom-radius-3 native-collectable-caption" style="border:1px solid #ddd;border-top:0px;">
      <b>{{ ad.title}} </b>
    </div>
  </div>
</a>





