<div classss="p15 bg-white pt5 border-radius-3 mb10 pb5" class="pt5 mb10 pb5">
  <div class=" pt5 pl0 pr0 p15 bb pb5 mb5"><b>GENDER</b></div>
  <ul class="list-unstyled mb0">
    <li class=" bt0 bb0">
      <ul class="list-unstyled mb0">
        <li class="bb pb5 pt5" ng-repeat="gender in venuesCtrl.filters.genders">
          <a href="#" ng-click="venuesCtrl.updateHighlights(gender.id)" rel="nofollow" class="w100pc">
            <span class="pull-left fs125 pr5">
              <span ng-class="{hidden:venuesCtrl.isHighlightSelected(gender.id)}"><i class="fa gray fa-square-o mr5"></i></span>
              <span ng-class="{hidden:!venuesCtrl.isHighlightSelected(gender.id)}"><i class="fa fa-check-square selected mr5"></i></span>

            </span>
            <span class="pull-left mt2 fw900">{{ gender.name }}</span>
            <span class="pull-right fs125 pr5">
              <i class="  {{ venuesCtrl.getHighlightCssClass(gender.slug) }}"></i>

            </span>
          </a>
          <div class="clearfix"></div>
        </li>
      </ul>
    </li>
  </ul>
</div>

