<div ng-controller="IndexController as indexCtrl" class="container p0 bg-lite-gray no-bg-on-mobile">
  <div id="tf-home" class="text-center" style="">
    <div class="banner-head-content content" >
      <div class="banner-content-form" style="">
        <div class="row">
          <div class="col-md-12 ">
            <div class="show-only-mobile h45"></div>
            <h1 class=" mb0 hide-only-mobile  fw700 np-transform notransform  fs175 force-white text-left " style="margin-top:175px;line-height:1.1;padding-left:40px;">
              <span class="fs220 lato ">Celebrate Fabulous</span>
            </h1>
            <div class="fs150 pl0-mobile  mt0  hide-only-mobile center-on-mobile text-left force-white" style="padding-left:40px;">
              <b>Find the best salons, spas, fitness & cosmetic centres in {{ indexCtrl.city.name  }}</b>
            </div>
            <div class="banner-head" style="background-color:transparent;padding-left:40px;padding-right:40px;">
              <div class="input-group pt5 opaque-on-hover text-left force-center">
                <div id="search-box-home-holder" class="inner-addon left-addon" style="position:relative;">
                  <label class="glyphicon glyphicon-search" style="font-size:14px;padding:13px 10px; ;" rel="tooltip "></label>
                  <input type="text" name="category_" class="p10 no-border-size op95 border-radius-5-mobile border-left-radius-5 no-border-radius pointer-cursor pr15 pl15 form-control selectable" id="search-selector" style="height:auto; border-color:#fff; text-align:left; " placeholder="Search for salon, spa or a service" />
                <div style="width:100%;z-index:998;vertical-align:middle;text-align:center;height:120px;background-color:#fff;top:10px;position:absolute;border: 1px solid #ccc; padding-top:70px;display:none;" class="search-box-preloader bt0  border-bottom-radius-5">
                  <b>Coming right up!</b> <img src="'{{ indexCtrl.assets_url('assets/indicator.gif')}}'" />
                </div>
                </div><div id="search-location-holder" class="inner-addon left-addon" style=" ">
                  <label class="glyphicon glyphicon-map-marker " style="font-size:14px;padding:13px 10px; ;"  rel="tooltip "></label>
                  <input type="text" name="zone_" value="{{ indexCtrl.city.name}}" class="form-control no-border-size no-border-radius border-radius-5-mobile op95 pointer-cursor selectable pr15 pl15 p10" id="location-selector" style="height:auto; border-bottom-color:#fff;border-right-color:#fff;border-top-color:#fff;border-left-color:#EAEAEA;border-left-width:1px !important;text-align:left;" placeholder="Please Type a Location" />
                </div>
                <div class="input-group-btn z90">
                  <button id="search-bar-button" 
                          type="submit" 
                          style="height:auto;margin-left:-12px;font-weight:800;min-width:120px;" 
                          class="btn no-border-size border-radius-5-mobile no-border-radius pl0 border-right-radius-5 op95 btn-turquoise p10">SEARCH</button></div>
              </div>
            </div>
          <form id="search-bar-form" class="hide-only-mobile navbar-left navbar-form" action="/search/businesses"  style="display:none;" method="POST">
            <input type="hidden" name="zone[]" value="'{{ indexCtrl.city.id }}'" class="form-control selectable" id="location-selector-name" />
            <input type="hidden" name="search" id="search-selector-name" />
            <input type="hidden" name="category[]" class="form-control selectable" id="location-selector-category" />
            <input type="hidden" name="service[]" class="form-control selectable" id="location-selector-service" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="page-full-overlay"></div>
<div class="hide-only-mobile bg-white pt10"></div>
<div class="row show-only-mobile bg-white pt10">
  <div class="col-md-12 pr0-mobile pl0-mobile text-left">
    <span class="fw900 fs110 pl15 pt0  mb10 show-only-mobile">
      <span class="pl15">ALL SERVICES</span>
    </span>
  </div>
</div>
<!-- SERVICES for mobile go here -->

<div class="tf-section   pt0 pb0   ">
  <div class="container bg-white    pt0 pb0">
    <div class="">
    <div class="row">
      <div class="col-md-12 pr0-mobile pl0-mobile text-left">
        <span class="fw900 fs110 pl15 pt0  mb0 show-only-mobile">POPULAR SERVICES</span>
        <span class="fw900 fs150  pt12  mb15 hide-only-mobile">POPULAR SERVICES</span>
       </div>
    </div>
    <div class="row">
      <div class="pr0-mobile pl0-mobile pr0 pl0 pt10">
        <div ng-repeat="service in indexCtrl.popularServices" class="sq-card col-md-3 col-xs-6 p0 relative h150 h150-mobile" style="border-bottom:1px solid #ffffff;border-left:1px solid #ffffff;background-image:url({{indexCtrl.assets_url(service.img)}})">
          <a href="{{service.url}}" class="force-white">
          <div class="va-container overlap-transparent-3x va-container-v va-container-h ">
            <div class="va-middle text-center text-contrast">
              <div class="fs150 ">
                <b>{{ (service.name) }}</b>
              </div>
              <div class="fs80">{{ service.business_count }} VENUES</div>
            </div>
          </div>
        </a>
        </div>
    </div>
    </div>
  </div>
</div></div>

<div class="tf-section   pt0 pb0   ">
  <div class="container     pt0 pb0">

    <div class="row">
      <div class="col-md-12 pr0-mobile pl0-mobile text-left">
        <span class="pull-left">
          <div class="fw900 fs110 pl15 mb10 mt10 show-only-mobile">FEATURED VENUES</div>
          <div class="fw900 fs150  pt10  mb10 hide-only-mobile">FEATURED VENUES</div>
        </span>
       </div>
    </div>
    <div class="row no-gutter " style="padding-left:3px; padding-right:3px;">
        <div ng-repeat="venue in indexCtrl.featuredVenues" class="col-md-20 pr0-mobile pl0-mobile" style="padding-left:3px;padding-right:3px;" >
          <div ng-include src="'/app/templates/businesses/minimal.html'"></div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 pr0-mobile pl0-mobile text-left">
        <span class="pull-left">
          <div class="fw900 fs110 pl15  mb10 mt0 show-only-mobile">LATEST STORIES</div>
          <div class="fw900 fs150   pt5 mb10 hide-only-mobile">LATEST STORIES</div>
        </span>
        <span class="pull-right pt0 pr15"><a href="/stories" class="btn fw900  btn-xs bg-white btn-default">SEE ALL</a></span>
        <div class="clearfix"></div>
       </div>
    </div>
    <div class="row no-gutter " style="padding-left:3px; padding-right:3px;">
        <div ng-repeat="post in indexCtrl.latestPosts" class="col-md-20 pr0-mobile pl0-mobile" style="padding-left:3px;padding-right:3px;" >
          <div ng-include src="'/app/templates/posts/minimal.html'"></div>

        </div>
    </div>
    <div class="hide-only-mobile" style="height:15px"></div>
  </div>
</div>

<div class="bg-home-banner-pink">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 ">
      <div class="h50"></div>
      <div class="h50 show-only-mobile"></div>
      <div class="hide-only-mobile text-center">
        <div class="fw300 p10 fs175 force-white">Brighten up your day with our FabFinds</div>
        <div class="p10">
          <a class=" btn-lg btn btn-turquoise fw900 "  href="/">
            CLICK NOW
          </a>
        </div>
        <div class="fw300 p10 fs110 force-white">CHECK OUT OUR EXCLUSIVE OFFERS</div>
      </div>
      <div class="show-only-mobile text-right">
        <div class="fw300 p10 fs175 force-white">Brighten up your day with<br/>our FabFinds</div>
        <div class="p10">
          <a class=" btn-lg btn btn-turquoise fw900 "  href="/">
            CLICK NOW
          </a>
        </div>
        <div class="fw300 p10 fs110 force-white">CHECK OUT OUR EXCLUSIVE OFFERS</div>
      </div>

      <div class="h50 show-only-mobile"></div>
      <div class="h50"></div>
    </div>
  </div>

</div>



















</div>
